<div saOffcanvas [options]="offcanvasOptions" id="sa_quick_user" class="offcanvas p-10 offcanvas-right">
    <div class="offcanvas-header d-flex align-items-center justify-content-between pb-5">
        <h3 class="font-weight-bold m-0"> Thông tin tài khoản
        </h3><a href="#" id="sa_quick_user_close" class="btn btn-xs btn-icon btn-light btn-hover-primary"><i
                class="ki ki-close icon-xs text-muted"></i></a>
    </div>
    <div class="offcanvas-content pr-5 mr-n5 scroll" [ngStyle]="{'max-height': '85vh', 'position': 'relative'}"
        [perfectScrollbar]="{wheelPropagation: false}">
        <div class="d-flex align-items-center mt-5">
            <div class="symbol symbol-100 mr-5">
                <div class="symbol-label" style="background-image: url('./assets/media/svg/icons/User.svg');"></div><i
                    class="symbol-badge bg-success"></i>
            </div>
            <div class="d-flex flex-column">
                <a href="javascript:;" class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">
                    {{currentUser && currentUser.fullName}}
                </a>
                <div class="text-muted mt-1"> {{currentUser.tenBV}} </div>
                <div class="navi mt-2">
                    <a class="btn btn-sm btn-light-primary font-weight-bolder py-2 px-5 cursor-pointer"
                        (click)="logout()">
                        Đăng xuất
                    </a>
                </div>
            </div>
        </div>
        <div class="separator separator-dashed mt-8 mb-5"></div>
        <div class="navi navi-spacer-x-0 p-0">
            <a class="navi-item cursor-pointer" (click)="changePassword()">
                <div class="navi-link">
                    <div class="symbol symbol-40 bg-light mr-3">
                        <div class="symbol-label">
                            <span cachesvg="true" class="svg-icon svg-icon-md svg-icon-primary">
                                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Stockholm-icons-/-Communication-/-Write" stroke="none" stroke-width="1"
                                        fill="none" fill-rule="evenodd">
                                        <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                                        <path
                                            d="M12.2674799,18.2323597 L12.0084872,5.45852451 C12.0004303,5.06114792 12.1504154,4.6768183 12.4255037,4.38993949 L15.0030167,1.70195304 L17.5910752,4.40093695 C17.8599071,4.6812911 18.0095067,5.05499603 18.0083938,5.44341307 L17.9718262,18.2062508 C17.9694575,19.0329966 17.2985816,19.701953 16.4718324,19.701953 L13.7671717,19.701953 C12.9505952,19.701953 12.2840328,19.0487684 12.2674799,18.2323597 Z"
                                            id="Path-11" fill="#000000" fill-rule="nonzero"
                                            transform="translate(14.701953, 10.701953) rotate(-135.000000) translate(-14.701953, -10.701953) ">
                                        </path>
                                        <path
                                            d="M12.9,2 C13.4522847,2 13.9,2.44771525 13.9,3 C13.9,3.55228475 13.4522847,4 12.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L12.9,2 Z"
                                            id="Path-57" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                    </g>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div class="navi-text">
                        <div class="font-weight-bold">Đổi mật khẩu</div>
                    </div>
                </div>
            </a>

            <!-- <a [routerLink]="['../../ho-so-kcb/lich-su-tuong-tac']" class="navi-item cursor-pointer" (click)="close()">
                <div class="navi-link">
                    <div class="symbol symbol-40 bg-light mr-3">
                        <div class="symbol-label"><span cachesvg="true"
                                class="svg-icon svg-icon-md svg-icon-warning"><svg width="24px" height="24px"
                                    viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Stockholm-icons-/-Shopping-/-Chart-bar1" stroke="none" stroke-width="1"
                                        fill="none" fill-rule="evenodd">
                                        <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                                        <rect id="Rectangle-62-Copy" fill="#000000" opacity="0.3" x="12" y="4" width="3"
                                            height="13" rx="1.5"></rect>
                                        <rect id="Rectangle-62-Copy-2" fill="#000000" opacity="0.3" x="7" y="9"
                                            width="3" height="8" rx="1.5"></rect>
                                        <path
                                            d="M5,19 L20,19 C20.5522847,19 21,19.4477153 21,20 C21,20.5522847 20.5522847,21 20,21 L4,21 C3.44771525,21 3,20.5522847 3,20 L3,4 C3,3.44771525 3.44771525,3 4,3 C4.55228475,3 5,3.44771525 5,4 L5,19 Z"
                                            id="Path-95" fill="#000000" fill-rule="nonzero"></path>
                                        <rect id="Rectangle-62-Copy-4" fill="#000000" opacity="0.3" x="17" y="11"
                                            width="3" height="6" rx="1.5"></rect>
                                    </g>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div class="navi-text">
                        <div class="font-weight-bold"> Lịch sử tương tác </div>
                    </div>
                </div>
            </a>
            <a class="navi-item cursor-pointer" [routerLink]="['../../ho-so-kcb/danh-sach-ho-so']" (click)="close()">
                <div class="navi-link">
                    <div class="symbol symbol-40 bg-light mr-3">
                        <div class="symbol-label"><span cachesvg="true"
                                class="svg-icon svg-icon-md svg-icon-success"><svg width="24px" height="24px"
                                    viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Stockholm-icons-/-Files-/-Selected-file" stroke="none" stroke-width="1"
                                        fill="none" fill-rule="evenodd">
                                        <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                                        <path
                                            d="M4.85714286,1 L11.7364114,1 C12.0910962,1 12.4343066,1.12568431 12.7051108,1.35473959 L17.4686994,5.3839416 C17.8056532,5.66894833 18,6.08787823 18,6.52920201 L18,19.0833333 C18,20.8738751 17.9795521,21 16.1428571,21 L4.85714286,21 C3.02044787,21 3,20.8738751 3,19.0833333 L3,2.91666667 C3,1.12612489 3.02044787,1 4.85714286,1 Z M8,12 C7.44771525,12 7,12.4477153 7,13 C7,13.5522847 7.44771525,14 8,14 L15,14 C15.5522847,14 16,13.5522847 16,13 C16,12.4477153 15.5522847,12 15,12 L8,12 Z M8,16 C7.44771525,16 7,16.4477153 7,17 C7,17.5522847 7.44771525,18 8,18 L11,18 C11.5522847,18 12,17.5522847 12,17 C12,16.4477153 11.5522847,16 11,16 L8,16 Z"
                                            id="Combined-Shape-Copy" fill="#000000" fill-rule="nonzero" opacity="0.3">
                                        </path>
                                        <path
                                            d="M6.85714286,3 L14.7364114,3 C15.0910962,3 15.4343066,3.12568431 15.7051108,3.35473959 L20.4686994,7.3839416 C20.8056532,7.66894833 21,8.08787823 21,8.52920201 L21,21.0833333 C21,22.8738751 20.9795521,23 19.1428571,23 L6.85714286,23 C5.02044787,23 5,22.8738751 5,21.0833333 L5,4.91666667 C5,3.12612489 5.02044787,3 6.85714286,3 Z M8,12 C7.44771525,12 7,12.4477153 7,13 C7,13.5522847 7.44771525,14 8,14 L15,14 C15.5522847,14 16,13.5522847 16,13 C16,12.4477153 15.5522847,12 15,12 L8,12 Z M8,16 C7.44771525,16 7,16.4477153 7,17 C7,17.5522847 7.44771525,18 8,18 L11,18 C11.5522847,18 12,17.5522847 12,17 C12,16.4477153 11.5522847,16 11,16 L8,16 Z"
                                            id="Combined-Shape" fill="#000000" fill-rule="nonzero"></path>
                                    </g>
                                </svg></span>
                        </div>
                    </div>
                    <div class="navi-text">
                        <div class="font-weight-bold"> Danh sách hồ sơ </div>
                    </div>
                </div>
            </a> -->
        </div>
    </div>
</div>