<div class="daterange-group">
    <div class="form-group hidden">
        <div class="input-group" style="z-index: 999999;">
            <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker" [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="template" [footerTemplate]="footerTemplate" outsideDays="hidden"
                [startDate]="fromDate!" tabindex="-1">
            <ng-template #template let-date let-focused="focused">
                <span class="custom-day" [class.focused]="focused" [class.start-range]="isStartRange(date)" [class.end-range]="isEndRange(date)" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                </span>
            </ng-template>
            <ng-template #footerTemplate>
                <div class="text-right p-2 footer-range">
                    <span class="mr-5">{{formatter.format(fromDate)}} - {{formatter.format(toDate)}} </span>
                    <button class="btn btn-secondary btn-sm mr-2" type="button" (click)="datepicker.close()">Đóng</button>
                    <button class="btn btn-primary btn-sm" type="button" (click)="datepicker.close(); saveData()" [disabled]="!isValid()">Áp dụng</button>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="from-date mr-2">
        <label>{{fromDateTitle}} <span class="text-danger" *ngIf="fromDateRequired">*</span></label>
        <div class="input-group">
            <input #dpFromDate [class]="customClass ? customClass :'form-control form-control-solid'" placeholder="dd/mm/yyyy" autocomplete="off" saDateMask name="dpFromDate" [value]="formatter.format(fromDate)" (keyup)="validateInput(fromDate, dpFromDate.value,false, $event)"
                [class.is-invalid]="!datepicker.isOpen() && !checkDateType(dpFromDate.value, false)">
            <div class="input-group-append" (click)="datepicker.toggle()">
                <span class="input-group-text">
                    <i class="text-dark-50 ki ki-calendar"></i>
                </span>
            </div>
        </div>
        <div class="invalid-feedback d-block" *ngIf="dpFromDate.value.length == 0 && this.fromDateRequired">
            {{validatorConsts.ms_required}}
        </div>
    </div>
    <div class="to-date">
        <label>{{toDateTitle}}<span class="text-danger" *ngIf="toDateRequired">*</span></label>
        <div class="input-group">
            <input #dpToDate [class]="customClass ? customClass :'form-control form-control-solid'" placeholder="dd/mm/yyyy" autocomplete="off" name="dpToDate" saDateMask [value]="formatter.format(toDate)" (keyup)="validateInput(toDate, dpToDate.value, true, $event)"
                [class.is-invalid]="!datepicker.isOpen() && (!checkDateType(dpToDate.value, true) || checkMinDate())">
            <div class="input-group-append" (click)="datepicker.toggle()">
                <span class="input-group-text">
                    <i class="text-dark-50 ki ki-calendar"></i>
                </span>
            </div>
        </div>
        <div class="invalid-feedback d-block" *ngIf="dpToDate.value.length == 0 && this.toDateRequired">
            {{validatorConsts.ms_required}}
        </div>
    </div>
</div>