<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-lg">
            Cập nhật mật khẩu '{{userName}}'
        </div>
    </div>
    <div class="modal-body">
        <form action="#" class="form form-label-right" [formGroup]="formGroup">
            <div class="form-group">
                <label class="form-label">
                    Mật khẩu
                    <span class="text-danger">*</span>
                </label>
                <input type="password" class="form-control form-control-lg form-control-solid" autocomplete="off" name="password" [class.is-invalid]="validatorService.isControlInvalid(formGroup.controls['password'])" [class.is-valid]="validatorService.isControlValid(formGroup.controls['password'])"
                    formControlName="password" />
                <div class="invalid-feedback" *ngIf="validatorService.controlHasError('required', formGroup.controls['password'])">
                    {{ValidatorConsts.ms_required}}
                </div>
                <div class="invalid-feedback" *ngIf="validatorService.controlHasError('pattern', formGroup.controls['password'])">
                    {{ValidatorConsts.ms_pattern}}
                </div>
            </div>
            <div class="form-group">
                <label class="form-label">
                    Nhập lại mật khẩu
                    <span class="text-danger">*</span>
                </label>
                <input type="password" class="form-control form-control-solid" autocomplete="password" [class.is-invalid]="validatorService.isControlInvalid(formGroup.controls['confirmPassword'])" [class.is-valid]="validatorService.isControlValid(formGroup.controls['confirmPassword'])"
                    formControlName="confirmPassword" />
                <div class="invalid-feedback" *ngIf="validatorService.controlHasError('mustMatch', formGroup.controls['confirmPassword'])">
                    {{ValidatorConsts.v_confirmPassword}}
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Hủy</button>
        <button type="submit" class="btn btn-primary btn-elevate" (click)="save()" btnLoader [loader]="id?isLoading.isPut:isLoading.isPost">
            {{id?'Cập nhật':'Lưu'}}
        </button>
    </div>
</div>