<div class="container headerbar d-flex justify-content-space-between align-items-center">
    <div>
        <a id="logo" class="logo" href="#" title="Board index">
            <span class="site_logo"></span>
        </a>
    </div>
    <div class="d-flex">
        <div>
            <fa-icon [icon]="faQuestionCircle" style="color: #26bcb0; padding: 0 5px 0 5px; margin-right: 5px;"></fa-icon>
            <a href="#">Câu hỏi</a>
        </div>
    </div>
</div>