<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Phân quyền</h3>
        </div>
    </div>
    <div class="card-body">
        <div class="form form-label-right">
            <div class="form-group row">
                <div class="col-lg-3" [formGroup]="searchGroup">
                    <ng-select [items]="roles" formControlName="roleId" [virtualScroll]="true" placeholder="Chọn quyền"
                        class="form-control" (change)="onChangeRole()" bindValue="id" bindLabel="name">
                    </ng-select>
                </div>
                <div class="col-lg-3">
                    <button type="button" class="btn btn-primary" (click)="save()" btnLoader
                        [loader]="isLoading.isPost">Cập nhật</button>
                </div>
            </div>
        </div>
        <app-loading [isLoading]="isLoading.isGet"></app-loading>
        <tree-root [nodes]="menusHierachy" #tree>
            <ng-template #treeNodeTemplate let-node let-index="index">
                <div class="checkbox-inline">
                    <ng-template [ngIf]="!node.data.isSection">
                        <label class="checkbox checkbox-success">
                            <input type="checkbox" [(ngModel)]="node.data.hasView"
                                (change)="selectHasAction(node.data.id, 1)"
                                [indeterminate]="node.data.hasViewIndeterminate">
                            <span></span>Xem
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" [(ngModel)]="node.data.hasEdit"
                                (change)="selectHasAction(node.data.id, 2)"
                                [indeterminate]="node.data.hasEditIndeterminate">
                            <span></span>Sửa
                        </label>
                        <label class="checkbox checkbox-danger">
                            <input type="checkbox" [(ngModel)]="node.data.hasDelete"
                                (change)="selectHasAction(node.data.id, 3)"
                                [indeterminate]="node.data.hasDeleteIndeterminate">
                            <span></span>Xóa
                        </label>
                    </ng-template>
                    <label class="ml-5">{{node.data.name}}</label>
                </div>
            </ng-template>
        </tree-root>
    </div>
</div>