<!-- begin:: Page -->
<ng-container *ngIf="selfLayout !== 'blank'; else blankLayout">
	<!-- begin:: Header Mobile -->
	<sa-header-mobile id="sa_header_mobile" class="header-mobile align-items-center"></sa-header-mobile>
	<!-- end:: Header Mobile -->
	<div class="d-flex flex-column flex-root">
		<!-- begin::Body -->
		<div class="d-flex flex-row flex-column-fluid page">
			<!-- begin:: Aside Left -->
			<ng-container *ngIf="asideDisplay">
				<sa-aside-left id="sa_aside" class="aside aside-left d-flex flex-column flex-row-auto" saOffcanvas
					[options]="menuCanvasOptions"></sa-aside-left>
			</ng-container>
			<!-- end:: Aside Left -->
			<div class="d-flex flex-column flex-row-fluid wrapper" id="sa_wrapper">
				<!-- begin:: Header -->
				<sa-header saHeader *ngIf="desktopHeaderDisplay" id="sa_header" class="header"
					[ngClass]="htmlClassService.getClasses('header', true)"></sa-header>
				<!-- end:: Header -->

				<!-- begin:: Content -->
				<div class="content d-flex flex-column flex-column-fluid" id="sa_content"
					[ngClass]="{'content-fit-top': fitTop}">
					<!-- begin:: Content Head -->
					<sa-subheader-wrapper *ngIf="subheaderDisplay"></sa-subheader-wrapper>
					<!-- end:: Content Head -->
					<!-- begin:: Content Body -->
					<div class="d-flex flex-column flex-column-fluid" [ngClass]="{'container-fluid': fluid}">
						<div class="container">
							<router-outlet></router-outlet>
						</div>

					</div>
					<!-- end:: Content Body -->
				</div>
				<!-- end:: Content -->
				<sa-footer id="sa_footer" class="footer bg-white py-4 d-flex flex-lg-column w-100"></sa-footer>
			</div>
		</div>
		<!-- end:: Body -->
		<!-- <sa-quick-panel></sa-quick-panel> -->
		<sa-user-panel></sa-user-panel>
		<sa-scroll-top></sa-scroll-top>
	</div>
</ng-container>
<!-- end:: Page -->
<ng-template #blankLayout>
	<router-outlet></router-outlet>
</ng-template>