<div id="sa_subheader" class="subheader py-2 py-lg-6 subheader-solid">
    <div class="d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap container-fluid">
        <div class="d-flex align-items-center flex-wrap mr-1">
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <h5 class="text-dark font-weight-bold my-1 mr-5">{{title[0]}}
                </h5>
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <ng-container *ngFor="let item of title;  let first = first">
                        <li *ngIf="!first" routerlinkactive="active" class="breadcrumb-item text-muted">
                            <a class="text-muted" href="javascript:;">
                                {{item}} </a>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>
</div>