@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body {
    font-family: "Montserrat", sans-serif;
}

.headerbar {
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}

.headerbar {
    background: transparent none repeat-x 0 0;
    height: 120px;
}

.site_logo {
    background-image: url("./assets/images/site_logo.svg");
    background-repeat: no-repeat;
    display: inline-block;
    width: 164px;
    height: 42px;
}

a {
    font-size: 16px;
    color: #323a45;
    font-weight: 500;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

.justify-content-space-between {
    justify-content: space-between !important;
}

#subheader {
    height: 160px;
    background-color: #26bcb0;
    background-image: url("./assets/images/subheader_bg.png");
    background-repeat: no-repeat;
    background-position: top center;
    display: table;
    width: 100%;
    margin-bottom: 20px;
}

#subheader-inner {
    height: 160px;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
}

#subheader .site-name {
    color: #fff;
    font-size: 3.077em;
    margin: 0 auto;
    text-align: center;
}

#subheader p.site-description {
    font-size: 1.538em;
    margin: 0 auto;
    text-align: center;
    float: none;
    height: auto;
}

.bg-green {
    background-color: #26bcb0 !important;
}

.bg-black {
    background-color: #2e3539 !important;
}

a.forumtitle {
    font-size: 1.231em;
    font-weight: 500;
    text-decoration: none;
}

.size-14 {
    font-size: 14px !important;
}

ul.nav-menu {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0;
}

ul.nav-menu li {
    padding: 1rem 2rem 1.15rem;
    text-transform: uppercase;
    cursor: pointer;
    color: #ebebeb;
    min-width: 80px;
    position: relative;
}

.show-menu-children {
    display: none;
    position: absolute;
    width: 200px;
    top: 45px;
    left: 0px;
    text-align: left;
    text-shadow: none;
    font-weight: normal;
}

.show-menu-children a {
    padding: 10px 0 10px 10px;
    color: #fff;
}

.show-menu-children>div>a:hover {
    background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
    background-size: 100% 100%;
    color: #27262c;
    text-shadow: 0 -1px 0 #ef816c;
    font-weight: bold;
}

ul.nav-menu li:hover .show-menu-children {
    display: block;
}

ul.nav-menu li:hover,
ul.nav-menu li a:hover,
ul.nav-menu li.active {
    background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
    background-size: 100% 100%;
    color: #27262c;
    /* animation: spring 300ms ease-out; */
    text-shadow: 0 -1px 0 #ef816c;
    font-weight: bold;
}

ul.nav-menu li:active {
    transform: translateY(4px);
}

@keyframes spring {
    15% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1.2, 1.1);
    }
    40% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(0.95, 0.95);
    }
    75% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1.05, 1);
    }
    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: scale(1, 1);
    }
}