<!-- BEGIN: Left Aside -->
<div>
	<sa-brand></sa-brand>
	<!-- BEGIN: Aside Menu -->
	<div id="sa_aside_menu_wrapper" class="aside-menu-wrapper flex-column-fluid">
		<div #asideMenu saMenu [options]="menuOptions" [perfectScrollbar]="{wheelPropagation: false}"
			[attr.disabled]="disableScroll()" [ngStyle]="{'max-height': '100vh', 'position': 'relative'}"
			id="sa_aside_menu" class="aside-menu scroll" (mouseenter)="mouseEnter($event)"
			(mouseleave)="mouseLeave($event)" [ngClass]="htmlClassService.getClasses('aside_menu', true)">
			<ul class="menu-nav" [ngClass]="htmlClassService.getClasses('aside_menu_nav', true)">
				<ng-container [ngTemplateOutlet]="menuListTemplate"></ng-container>
			</ul>
		</div>
	</div>
	<!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->

<ng-template #menuListTemplate>
	<ng-container *ngFor="let child of menus">
		<ng-container *ngIf="child.section" [ngTemplateOutlet]="menuItemSectionTemplate"
			[ngTemplateOutletContext]="{ item: child }"></ng-container>
		<ng-container *ngIf="child.separator" [ngTemplateOutlet]="menuItemSeparatorTemplate"
			[ngTemplateOutletContext]="{ item: child }"></ng-container>
		<ng-container *ngIf="child.title" [ngTemplateOutlet]="menuItemTemplate"
			[ngTemplateOutletContext]="{ item: child }"></ng-container>
	</ng-container>
</ng-template>
<ng-template #menuItemTemplate let-item="item" let-parentItem="parentItem">
	<ng-container [ngTemplateOutlet]="menuItemInnerTemplate"
		[ngTemplateOutletContext]="{ item: item, parentItem: parentItem  }"></ng-container>
</ng-template>
<ng-template #menuItemInnerTemplate let-item="item" let-parentItem="parentItem">
	<li [attr.aria-haspopup]="true" [attr.data-menu-submenu-mode]="item.mode"
		[attr.data-menu-dropdown-toggle-class]="item['dropdown-toggle-class']" [ngClass]="getItemCssClasses(item)"
		[routerLinkActive]="!(item.submenu && item.submenu.length>0)?'menu-item-active':'menu-item-open'">
		<a *ngIf="!(item.submenu && item.submenu.length>0)" [routerLink]="item.page" class="menu-link menu-toggle"
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
			<ng-container [ngTemplateOutlet]="menuItemTextTemplate"
				[ngTemplateOutletContext]="{ item: item, parentItem: parentItem }"></ng-container>
		</a>
		<a *ngIf="item.submenu && item.submenu.length>0" class="menu-link menu-toggle">
			<ng-container [ngTemplateOutlet]="menuItemTextTemplate"
				[ngTemplateOutletContext]="{ item: item, parentItem: parentItem }"></ng-container>
		</a>
		<div *ngIf="item.submenu && item.submenu.length>0" class="menu-submenu">
			<span class="menu-arrow"></span>
			<ng-container [ngTemplateOutlet]="menuSubmenuTemplate"
				[ngTemplateOutletContext]="{ item: item, parentItem: parentItem }">
			</ng-container>
		</div>
	</li>
</ng-template>

<ng-template #menuSubmenuTemplate let-item="item" let-parentItem="parentItem">
	<ul class="menu-subnav">
		<ng-container *ngFor="let child of item.submenu">
			<ng-container *ngIf="child.section" [ngTemplateOutlet]="menuItemSectionTemplate"
				[ngTemplateOutletContext]="{ item: child, parentItem: item }"></ng-container>
			<ng-container *ngIf="child.separator" [ngTemplateOutlet]="menuItemSeparatorTemplate"
				[ngTemplateOutletContext]="{ item: child, parentItem: item }"></ng-container>
			<ng-container *ngIf="child.title" [ngTemplateOutlet]="menuItemTemplate"
				[ngTemplateOutletContext]="{ item: child, parentItem: item }"></ng-container>
		</ng-container>
	</ul>
</ng-template>

<ng-template #menuItemTextTemplate let-item="item" let-parentItem="parentItem">
	<span *ngIf="item.svg" [inlineSVG]="'./assets/media/svg/icons/'+item.svg" [cacheSVG]="true"
		class="svg-icon menu-icon">
	</span>
	<i *ngIf="item.icon" class="menu-icon" [ngClass]="item.icon"></i>
	<i *ngIf="parentItem && parentItem.bullet === 'dot'" class="menu-bullet menu-bullet-dot">
		<span></span>
	</i>
	<i *ngIf="parentItem && parentItem.bullet === 'line'" class="menu-bullet menu-bullet-line">
		<span></span>
	</i>
	<span class="menu-text">{{item.title}}</span>
	<span *ngIf="item.badge" class="menu-text">
		<span class="badge" [ngClass]="item.badge.type">{{item.badge.value}}</span>
	</span>
	<i *ngIf="item.submenu && item.submenu.length>0" class="menu-arrow"></i>
</ng-template>

<ng-template #menuItemSeparatorTemplate let-item="item" let-parentItem="parentItem">
	<li class="menu-separator"><span></span></li>
</ng-template>

<ng-template #menuItemSectionTemplate let-item="item" let-parentItem="parentItem">
	<li class="menu-section">
		<h4 class="menu-text">{{item.section}}</h4>
		<i class="menu-icon flaticon-more-v2"></i>
	</li>
</ng-template>
