<div class="d-flex flex-column flex-md-row align-items-center justify-content-between container-fluid"  [ngClass]="{'container-fluid': fluid}">
    <div class="text-dark order-2 order-md-1"><span class="text-muted font-weight-bold mr-2">2021 ©</span><a
            href="http://ehis.vn" target="_blank" class="text-dark-75 text-hover-primary">Song An</a>
    </div>
    <div class="nav nav-dark">
        <a href="https://ehis.vn/gioi-thieu-ve-song-an-1" target="_blank" class="nav-link pl-0 pr-5">Giới thiệu</a>
            <a href="http://ehis.vn" target="_blank" class="nav-link pl-0 pr-5">Hỗ trợ</a>
            <a href="https://ehis.vn/lien-he-song-an" target="_blank" class="nav-link pl-0 pr-0">Liên hệ</a>
        </div>
</div>