<div saOffcanvas [options]="offcanvasOptions" id="sa_quick_panel" class="offcanvas offcanvas-right pt-5 pb-10">
    <div class="offcanvas-header offcanvas-header-navs d-flex align-items-center justify-content-between mb-5">
        <ul ngbNav #nav="ngbNav"
            class="nav nav-bold nav-tabs nav-tabs-line nav-tabs-line-3x nav-tabs-primary flex-grow-1 px-10">
            <li ngbNavItem class="nav-item">
                <a ngbNavLink>Notifications</a>
                <ng-template ngbNavContent>
                    <div id="sa_quick_panel_logs" [ngStyle]="{'max-height': '85vh', 'position': 'relative'}"
                        [perfectScrollbar]="{wheelPropagation: false}" class="pt-3 pr-5 mr-n5 scroll">
                        <div class="mb-15">
                            <h5 class="font-weight-bold mb-5">System Messages</h5>
                            <div class="d-flex align-items-center flex-wrap mb-5">
                                <div class="symbol symbol-50 symbol-light mr-5"><span class="symbol-label"><span
                                            cachesvg="true" class="svg-icon h-50 align-self-center"><svg version="1.1"
                                                id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                                xml:space="preserve">
                                                <path style="fill:#FF3C3C;" d="M170.473,512c-64.178,0-116.39-52.212-116.39-116.39V196.288C54.083,88.054,142.136,0,250.37,0
                        h11.259c108.234,0,196.289,88.054,196.289,196.288c0,99.322-74.046,182.228-171.055,194.674v4.648
                        C286.863,459.788,234.651,512,170.473,512z"></path>
                                                <path style="fill:#DA0806;" d="M261.629,0H256v474.462c19.147-20.752,30.863-48.457,30.863-78.852v-4.648
                        c97.009-12.446,171.055-95.352,171.055-194.674C457.917,88.054,369.863,0,261.629,0z"></path>
                                                <path style="fill:#FFFFFF;" d="M261.629,59.849h-11.259c-75.232,0-136.44,61.209-136.44,136.44v199.318
                        c0,31.182,25.362,56.544,56.544,56.544c31.172,0,56.534-25.362,56.534-56.544V332.73h34.62c75.232,0,136.44-61.209,136.44-136.44
                        S336.861,59.849,261.629,59.849z M261.629,249.798h-49.699c-8.323,0-15.079-6.745-15.079-15.079v-38.43
                        c0-29.514,24.005-53.519,53.519-53.519h11.259c29.514,0,53.519,24.005,53.519,53.519
                        C315.148,225.793,291.143,249.798,261.629,249.798z"></path>
                                                <path style="fill:#DCE1EB;"
                                                    d="M261.629,59.849H256v82.922h5.629c29.514,0,53.519,24.005,53.519,53.519
                        c0,29.504-24.005,53.509-53.519,53.509H256v82.932h5.629c75.232,0,136.44-61.209,136.44-136.44S336.861,59.849,261.629,59.849z">
                                                </path>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                            </svg></span>
                                        <!---->
                                    </span></div>
                                <div class="d-flex flex-column flex-grow-1 mr-2"><a href="#"
                                        class="font-weight-bolder text-dark-75 text-hover-primary font-size-lg mb-1">Top
                                        Authors</a><span class="text-muted font-weight-bold">Most
                                        Successful Fellas</span></div><span
                                    class="btn btn-sm btn-light font-weight-bolder py-1 my-lg-0 my-2 text-dark-50">+82$</span>
                            </div>
                            <div class="d-flex align-items-center flex-wrap mb-5">
                                <div class="symbol symbol-50 symbol-light mr-5"><span class="symbol-label"><span
                                            cachesvg="true" class="svg-icon h-50 align-self-center"><svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
                                                x="0px" y="0px" viewBox="0 0 512 512"
                                                style="enable-background:new 0 0 512 512;" xml:space="preserve"
                                                width="512" height="512">
                                                <g>
                                                    <path style="fill:#009AE4;"
                                                        d="M276.7,392.555l-100.201,99.901c-2.999,1.8-6.899,6.301-15,3.9c-4.199-1.5-9.3-6.301-10.199-11.7   v-0.3l-28.801-172.2l23.401-17.699c3.03,1.777,60.854,35.684,57.299,33.6l73.5,43.2C282.4,377.256,282.4,386.556,276.7,392.555z">
                                                    </path>
                                                    <path style="fill:#25D9F8;"
                                                        d="M511.708,32.964L420.7,484.956c-0.9,4.8-4.5,9-9.3,10.8c-1.8,0.9-3.6,1.2-5.4,1.2   c-3,0-6-0.9-8.7-2.7c-3.018-2.156-224.061-160.044-210-150c-133.84-66.3-64.027-31.453-178.9-88.8c-5.4-2.7-8.4-8.1-8.4-13.8   c0.3-6,3.6-11.1,9-13.5L491.008,16.164c5.1-2.1,11.1-1.5,15.3,2.1c0.6,0.6,1.5,1.5,2.1,2.1   C511.408,23.964,512.608,28.464,511.708,32.964z">
                                                    </path>
                                                    <path style="fill:#00C0F1;"
                                                        d="M508.408,20.364L203.2,328.056l-15.899,16.199l-25.801,152.1c-4.199-1.5-9.3-6.301-10.199-11.7v-0.3   l-28.801-172.2l23.401-17.699L508.408,20.364z">
                                                    </path>
                                                </g>















                                            </svg></span>
                                        <!---->
                                    </span></div>
                                <div class="d-flex flex-column flex-grow-1 mr-2"><a href="#"
                                        class="font-weight-bolder text-dark-75 text-hover-primary font-size-lg mb-1">Popular
                                        Authors</a><span class="text-muted font-weight-bold">Most
                                        Successful Fellas</span></div><span
                                    class="btn btn-sm btn-light font-weight-bolder my-lg-0 my-2 py-1 text-dark-50">+280$</span>
                            </div>
                            <div class="d-flex align-items-center flex-wrap mb-5">
                                <div class="symbol symbol-50 symbol-light mr-5"><span class="symbol-label"><span
                                            cachesvg="true" class="svg-icon h-50 align-self-center"><svg id="Capa_1"
                                                enable-background="new 0 0 511.534 511.534" height="512"
                                                viewBox="0 0 511.534 511.534" width="512"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="m379.382 264.304h-89.428c-4.146 0-7.507-3.361-7.507-7.507v-14.166c0-2.197.963-4.285 2.635-5.711 8.677-7.402 13.654-18.18 13.654-29.569 0-21.421-17.428-38.849-38.849-38.849s-38.848 17.428-38.848 38.849c0 10.831 4.35 20.885 12.248 28.31 1.51 1.419 2.365 3.399 2.365 5.47v15.667c0 4.146-3.361 7.507-7.507 7.507h-95.993c-4.146 0-7.507-3.361-7.507-7.507v-249.291c0-4.146 3.361-7.507 7.507-7.507h247.23c4.146 0 7.507 3.36 7.507 7.507v66.662h4.543c9.94-9.325 23.2-14.614 36.881-14.614 29.7 0 53.863 24.163 53.863 53.863s-24.163 53.863-53.863 53.863c-14.599 0-28.472-5.896-38.59-16.29h-2.835v105.807c0 4.146-3.36 7.506-7.506 7.506z"
                                                    fill="#ff7c48"></path>
                                                <path
                                                    d="m428.313 59.555c-13.681 0-26.942 5.289-36.881 14.614h-4.543v-66.662c0-4.146-3.361-7.507-7.507-7.507h-119.495v168.502c21.421 0 38.849 17.428 38.849 38.849 0 11.389-4.977 22.167-13.654 29.569-1.672 1.426-2.635 3.514-2.635 5.711v14.166c0 4.146 3.36 7.507 7.507 7.507h89.428c4.146 0 7.507-3.361 7.507-7.507v-105.807h2.835c10.118 10.394 23.991 16.29 38.59 16.29 29.7 0 53.863-24.163 53.863-53.863s-24.164-53.862-53.864-53.862z"
                                                    fill="#ff415b"></path>
                                                <path
                                                    d="m379.382 511.534h-247.23c-4.146 0-7.507-3.36-7.507-7.507v-86.042h-2.834c-10.119 10.393-23.991 16.289-38.59 16.289-29.7 0-53.863-24.163-53.863-53.862 0-29.7 24.163-53.863 53.863-53.863 13.683 0 26.942 5.288 36.881 14.613h4.543v-84.366c0-4.146 3.361-7.507 7.507-7.507h88.486v-5.058c-9.325-9.939-14.613-23.198-14.613-36.881 0-29.7 24.163-53.863 53.862-53.863 29.7 0 53.863 24.163 53.863 53.863 0 14.599-5.896 28.472-16.289 38.59v3.35h81.921c4.146 0 7.507 3.36 7.507 7.507v91.873c0 4.146-3.361 7.507-7.507 7.507h-15.152c-2.071 0-4.051-.856-5.47-2.365-7.424-7.898-17.478-12.247-28.309-12.247-21.421 0-38.849 17.428-38.849 38.849s17.428 38.848 38.849 38.848c11.389 0 22.167-4.977 29.569-13.654 1.426-1.672 3.514-2.635 5.711-2.635h13.65c4.146 0 7.507 3.36 7.507 7.507v93.549c0 4.145-3.36 7.505-7.506 7.505z"
                                                    fill="#8ee16a"></path>
                                                <path
                                                    d="m330.451 341.564c10.831 0 20.885 4.35 28.309 12.247 1.419 1.509 3.399 2.365 5.47 2.365h15.152c4.146 0 7.507-3.36 7.507-7.507v-91.873c0-4.146-3.361-7.507-7.507-7.507h-81.922v-3.35c10.393-10.118 16.289-23.991 16.289-38.59 0-29.7-24.163-53.863-53.863-53.863v358.046h119.495c4.146 0 7.507-3.36 7.507-7.507v-93.549c0-4.146-3.361-7.507-7.507-7.507h-13.65c-2.197 0-4.285.963-5.711 2.635-7.402 8.677-18.18 13.654-29.569 13.654-21.421 0-38.849-17.427-38.849-38.848 0-21.418 17.428-38.846 38.849-38.846z"
                                                    fill="#00cab1"></path>
                                            </svg></span>
                                        <!---->
                                    </span></div>
                                <div class="d-flex flex-column flex-grow-1 mr-2"><a href="#"
                                        class="font-weight-bolder text-dark-75 text-hover-primary font-size-lg mb-1">New
                                        Users</a><span class="text-muted font-weight-bold">Most
                                        Successful Fellas</span></div><span
                                    class="btn btn-sm btn-light font-weight-bolder my-lg-0 my-2 py-1 text-dark-50">+4500$</span>
                            </div>
                            <div class="d-flex align-items-center flex-wrap mb-5">
                                <div class="symbol symbol-50 symbol-light mr-5"><span class="symbol-label"><span
                                            cachesvg="true" class="svg-icon h-50 align-self-center"><svg version="1.1"
                                                id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                                xml:space="preserve">
                                                <path style="fill:#FF3C3C;"
                                                    d="M285.765,512h-59.528c-95.765,0-173.674-77.91-173.674-173.674V57.716
                        C52.562,25.891,78.453,0,110.278,0s57.716,25.891,57.716,57.716v280.61c0,32.115,26.128,58.243,58.243,58.243h59.528
                        c32.115,0,58.242-26.127,58.242-58.243c0-32.115-26.127-58.242-58.242-58.242h-28.092c-31.825,0-57.716-25.891-57.716-57.716
                        s25.89-57.716,57.716-57.716h28.092c95.764,0,173.673,77.91,173.673,173.673C459.438,434.09,381.529,512,285.765,512z">
                                                </path>
                                                <path style="fill:#DA0806;" d="M285.765,164.653h-14.442v115.431h14.442c32.115,0,58.242,26.127,58.242,58.242
                        c0,32.115-26.127,58.243-58.242,58.243h-14.442V512h14.442c95.764,0,173.673-77.91,173.673-173.674
                        C459.438,242.562,381.529,164.653,285.765,164.653z"></path>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                            </svg></span>
                                        <!---->
                                    </span></div>
                                <div class="d-flex flex-column flex-grow-1 mr-2"><a href="#"
                                        class="font-weight-bolder text-dark-75 text-hover-primary font-size-lg mb-1">Active
                                        Customers</a><span class="text-muted font-weight-bold">Most Successful
                                        Fellas</span></div><span
                                    class="btn btn-sm btn-light font-weight-bolder my-lg-0 my-2 py-1 text-dark-50">+4500$</span>
                            </div>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="symbol symbol-50 symbol-light mr-5"><span class="symbol-label"><span
                                            cachesvg="true" class="svg-icon h-50 align-self-center"><svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
                                                x="0px" y="0px" viewBox="0 0 512.081 512.081"
                                                style="enable-background:new 0 0 512.081 512.081;" xml:space="preserve"
                                                width="512" height="512">
                                                <g>
                                                    <path style="fill:#7FE881;"
                                                        d="M358.862,257.382l89.399-112.402c29.7-38.099,24.001-95.099-16.198-126.299   c-39.899-30.601-96.002-22.5-126.002,16.199c-2.399,2.701-71.396,89.101-80.398,99.901c-0.3,0.601-0.601,0.899-0.601,0.899V90.081   c0-49.501-40.499-90-90-90s-90,40.499-90,90v332c0,49.499,40.499,90,90,90s90-40.501,90-90v-44.7   c2.402,2.999,80.698,99.7,80.999,99.7c30.901,39.3,86.704,46.5,126.002,15.899c40.499-31.5,45.597-86.8,16.198-125.199   L358.862,257.382z">
                                                    </path>
                                                    <path style="fill:#5BC980;"
                                                        d="M448.262,367.781c29.399,38.399,24.302,93.699-16.198,125.199   c-39.298,30.601-95.101,23.401-126.002-15.899c-0.3,0-78.596-96.7-80.999-99.7V135.68c0,0,0.3-0.298,0.601-0.899   c9.001-10.8,77.999-97.2,80.398-99.901c30-38.699,86.104-46.8,126.002-16.199c40.199,31.199,45.897,88.2,16.198,126.299   l-89.399,112.402L448.262,367.781z">
                                                    </path>
                                                </g>















                                            </svg></span>
                                        <!---->
                                    </span></div>
                                <div class="d-flex flex-column flex-grow-1 mr-2"><a href="#"
                                        class="font-weight-bolder text-dark-75 text-hover-primary font-size-lg mb-1">Bestseller
                                        Theme</a><span class="text-muted font-weight-bold">Most
                                        Successful Fellas</span></div><span
                                    class="btn btn-sm btn-light font-weight-bolder my-lg-0 my-2 py-1 text-dark-50">+4500$</span>
                            </div>
                        </div>
                        <div class="mb-5">
                            <h5 class="font-weight-bold mb-5">Notifications</h5>
                            <div class="d-flex align-items-center bg-light-warning rounded p-5 mb-5"><span
                                    class="svg-icon svg-icon-warning mr-5"><span cachesvg="true"
                                        class="svg-icon svg-icon-lg"><svg width="24px" height="24px" viewBox="0 0 24 24"
                                            version="1.1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                                            <title>Stockholm-icons / Home / Library</title>
                                            <desc>Created with Sketch.</desc>
                                            <defs></defs>
                                            <g id="Stockholm-icons-/-Home-/-Library" stroke="none" stroke-width="1"
                                                fill="none" fill-rule="evenodd">
                                                <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                                                <path
                                                    d="M5,3 L6,3 C6.55228475,3 7,3.44771525 7,4 L7,20 C7,20.5522847 6.55228475,21 6,21 L5,21 C4.44771525,21 4,20.5522847 4,20 L4,4 C4,3.44771525 4.44771525,3 5,3 Z M10,3 L11,3 C11.5522847,3 12,3.44771525 12,4 L12,20 C12,20.5522847 11.5522847,21 11,21 L10,21 C9.44771525,21 9,20.5522847 9,20 L9,4 C9,3.44771525 9.44771525,3 10,3 Z"
                                                    id="Combined-Shape" fill="#000000"></path>
                                                <rect id="Rectangle-Copy-2" fill="#000000" opacity="0.3"
                                                    transform="translate(17.825568, 11.945519) rotate(-19.000000) translate(-17.825568, -11.945519) "
                                                    x="16.3255682" y="2.94551858" width="3" height="18" rx="1"></rect>
                                            </g>
                                        </svg></span>
                                    <!---->
                                </span>
                                <div class="d-flex flex-column flex-grow-1 mr-2"><a href="#"
                                        class="font-weight-normal text-dark-75 text-hover-primary font-size-lg mb-1">Another
                                        purpose persuade</a><span class="text-muted font-size-sm">Due in 2 Days</span>
                                </div><span class="font-weight-bolder text-warning py-1 font-size-lg">+28%</span>
                            </div>
                            <div class="d-flex align-items-center bg-light-success rounded p-5 mb-5"><span
                                    class="svg-icon svg-icon-success mr-5"><span cachesvg="true"
                                        class="svg-icon svg-icon-lg"><svg width="24px" height="24px" viewBox="0 0 24 24"
                                            version="1.1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                                            <title>Stockholm-icons / Communication / Write</title>
                                            <desc>Created with Sketch.</desc>
                                            <defs></defs>
                                            <g id="Stockholm-icons-/-Communication-/-Write" stroke="none"
                                                stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                                                <path
                                                    d="M12.2674799,18.2323597 L12.0084872,5.45852451 C12.0004303,5.06114792 12.1504154,4.6768183 12.4255037,4.38993949 L15.0030167,1.70195304 L17.5910752,4.40093695 C17.8599071,4.6812911 18.0095067,5.05499603 18.0083938,5.44341307 L17.9718262,18.2062508 C17.9694575,19.0329966 17.2985816,19.701953 16.4718324,19.701953 L13.7671717,19.701953 C12.9505952,19.701953 12.2840328,19.0487684 12.2674799,18.2323597 Z"
                                                    id="Path-11" fill="#000000" fill-rule="nonzero"
                                                    transform="translate(14.701953, 10.701953) rotate(-135.000000) translate(-14.701953, -10.701953) ">
                                                </path>
                                                <path
                                                    d="M12.9,2 C13.4522847,2 13.9,2.44771525 13.9,3 C13.9,3.55228475 13.4522847,4 12.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L12.9,2 Z"
                                                    id="Path-57" fill="#000000" fill-rule="nonzero" opacity="0.3">
                                                </path>
                                            </g>
                                        </svg></span>
                                    <!---->
                                </span>
                                <div class="d-flex flex-column flex-grow-1 mr-2"><a href="#"
                                        class="font-weight-normal text-dark-75 text-hover-primary font-size-lg mb-1">Would
                                        be to people</a><span class="text-muted font-size-sm">Due
                                        in 2 Days</span></div><span
                                    class="font-weight-bolder text-success py-1 font-size-lg">+50%</span>
                            </div>
                            <div class="d-flex align-items-center bg-light-danger rounded p-5 mb-5"><span
                                    class="svg-icon svg-icon-danger mr-5"><span cachesvg="true"
                                        class="svg-icon svg-icon-lg"><svg width="24px" height="24px" viewBox="0 0 24 24"
                                            version="1.1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                                            <title>Stockholm-icons / Communication / Group-chat</title>
                                            <desc>Created with Sketch.</desc>
                                            <defs></defs>
                                            <g id="Stockholm-icons-/-Communication-/-Group-chat" stroke="none"
                                                stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                                                <path
                                                    d="M16,15.6315789 L16,12 C16,10.3431458 14.6568542,9 13,9 L6.16183229,9 L6.16183229,5.52631579 C6.16183229,4.13107011 7.29290239,3 8.68814808,3 L20.4776218,3 C21.8728674,3 23.0039375,4.13107011 23.0039375,5.52631579 L23.0039375,13.1052632 L23.0206157,17.786793 C23.0215995,18.0629336 22.7985408,18.2875874 22.5224001,18.2885711 C22.3891754,18.2890457 22.2612702,18.2363324 22.1670655,18.1421277 L19.6565168,15.6315789 L16,15.6315789 Z"
                                                    id="Combined-Shape" fill="#000000"></path>
                                                <path
                                                    d="M1.98505595,18 L1.98505595,13 C1.98505595,11.8954305 2.88048645,11 3.98505595,11 L11.9850559,11 C13.0896254,11 13.9850559,11.8954305 13.9850559,13 L13.9850559,18 C13.9850559,19.1045695 13.0896254,20 11.9850559,20 L4.10078614,20 L2.85693427,21.1905292 C2.65744295,21.3814685 2.34093638,21.3745358 2.14999706,21.1750444 C2.06092565,21.0819836 2.01120804,20.958136 2.01120804,20.8293182 L2.01120804,18.32426 C1.99400175,18.2187196 1.98505595,18.1104045 1.98505595,18 Z M6.5,14 C6.22385763,14 6,14.2238576 6,14.5 C6,14.7761424 6.22385763,15 6.5,15 L11.5,15 C11.7761424,15 12,14.7761424 12,14.5 C12,14.2238576 11.7761424,14 11.5,14 L6.5,14 Z M9.5,16 C9.22385763,16 9,16.2238576 9,16.5 C9,16.7761424 9.22385763,17 9.5,17 L11.5,17 C11.7761424,17 12,16.7761424 12,16.5 C12,16.2238576 11.7761424,16 11.5,16 L9.5,16 Z"
                                                    id="Combined-Shape" fill="#000000" opacity="0.3"></path>
                                            </g>
                                        </svg></span>
                                    <!---->
                                </span>
                                <div class="d-flex flex-column flex-grow-1 mr-2"><a href="#"
                                        class="font-weight-normel text-dark-75 text-hover-primary font-size-lg mb-1">Purpose
                                        would be to persuade</a><span class="text-muted font-size-sm">Due in 2
                                        Days</span></div><span
                                    class="font-weight-bolder text-danger py-1 font-size-lg">-27%</span>
                            </div>
                            <div class="d-flex align-items-center bg-light-info rounded p-5">
                                <span class="svg-icon svg-icon-info mr-5"><span cachesvg="true"
                                        class="svg-icon svg-icon-lg"><svg width="24px" height="24px" viewBox="0 0 24 24"
                                            version="1.1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                                            <title>Stockholm-icons / General / Attachment2</title>
                                            <desc>Created with Sketch.</desc>
                                            <defs></defs>
                                            <g id="Stockholm-icons-/-General-/-Attachment2" stroke="none"
                                                stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                                                <path
                                                    d="M11.7573593,15.2426407 L8.75735931,15.2426407 C8.20507456,15.2426407 7.75735931,15.6903559 7.75735931,16.2426407 C7.75735931,16.7949254 8.20507456,17.2426407 8.75735931,17.2426407 L11.7573593,17.2426407 L11.7573593,18.2426407 C11.7573593,19.3472102 10.8619288,20.2426407 9.75735931,20.2426407 L5.75735931,20.2426407 C4.65278981,20.2426407 3.75735931,19.3472102 3.75735931,18.2426407 L3.75735931,14.2426407 C3.75735931,13.1380712 4.65278981,12.2426407 5.75735931,12.2426407 L9.75735931,12.2426407 C10.8619288,12.2426407 11.7573593,13.1380712 11.7573593,14.2426407 L11.7573593,15.2426407 Z"
                                                    id="Combined-Shape" fill="#000000" opacity="0.3"
                                                    transform="translate(7.757359, 16.242641) rotate(-45.000000) translate(-7.757359, -16.242641) ">
                                                </path>
                                                <path
                                                    d="M12.2426407,8.75735931 L15.2426407,8.75735931 C15.7949254,8.75735931 16.2426407,8.30964406 16.2426407,7.75735931 C16.2426407,7.20507456 15.7949254,6.75735931 15.2426407,6.75735931 L12.2426407,6.75735931 L12.2426407,5.75735931 C12.2426407,4.65278981 13.1380712,3.75735931 14.2426407,3.75735931 L18.2426407,3.75735931 C19.3472102,3.75735931 20.2426407,4.65278981 20.2426407,5.75735931 L20.2426407,9.75735931 C20.2426407,10.8619288 19.3472102,11.7573593 18.2426407,11.7573593 L14.2426407,11.7573593 C13.1380712,11.7573593 12.2426407,10.8619288 12.2426407,9.75735931 L12.2426407,8.75735931 Z"
                                                    id="Combined-Shape-Copy" fill="#000000"
                                                    transform="translate(16.242641, 7.757359) rotate(-45.000000) translate(-16.242641, -7.757359) ">
                                                </path>
                                                <path
                                                    d="M5.89339828,3.42893219 C6.44568303,3.42893219 6.89339828,3.87664744 6.89339828,4.42893219 L6.89339828,6.42893219 C6.89339828,6.98121694 6.44568303,7.42893219 5.89339828,7.42893219 C5.34111353,7.42893219 4.89339828,6.98121694 4.89339828,6.42893219 L4.89339828,4.42893219 C4.89339828,3.87664744 5.34111353,3.42893219 5.89339828,3.42893219 Z M11.4289322,5.13603897 C11.8194565,5.52656326 11.8194565,6.15972824 11.4289322,6.55025253 L10.0147186,7.96446609 C9.62419433,8.35499039 8.99102936,8.35499039 8.60050506,7.96446609 C8.20998077,7.5739418 8.20998077,6.94077682 8.60050506,6.55025253 L10.0147186,5.13603897 C10.4052429,4.74551468 11.0384079,4.74551468 11.4289322,5.13603897 Z M0.600505063,5.13603897 C0.991029355,4.74551468 1.62419433,4.74551468 2.01471863,5.13603897 L3.42893219,6.55025253 C3.81945648,6.94077682 3.81945648,7.5739418 3.42893219,7.96446609 C3.0384079,8.35499039 2.40524292,8.35499039 2.01471863,7.96446609 L0.600505063,6.55025253 C0.209980772,6.15972824 0.209980772,5.52656326 0.600505063,5.13603897 Z"
                                                    id="Combined-Shape" fill="#000000" opacity="0.3"
                                                    transform="translate(6.014719, 5.843146) rotate(-45.000000) translate(-6.014719, -5.843146) ">
                                                </path>
                                                <path
                                                    d="M17.9142136,15.4497475 C18.4664983,15.4497475 18.9142136,15.8974627 18.9142136,16.4497475 L18.9142136,18.4497475 C18.9142136,19.0020322 18.4664983,19.4497475 17.9142136,19.4497475 C17.3619288,19.4497475 16.9142136,19.0020322 16.9142136,18.4497475 L16.9142136,16.4497475 C16.9142136,15.8974627 17.3619288,15.4497475 17.9142136,15.4497475 Z M23.4497475,17.1568542 C23.8402718,17.5473785 23.8402718,18.1805435 23.4497475,18.5710678 L22.0355339,19.9852814 C21.6450096,20.3758057 21.0118446,20.3758057 20.6213203,19.9852814 C20.2307961,19.5947571 20.2307961,18.9615921 20.6213203,18.5710678 L22.0355339,17.1568542 C22.4260582,16.76633 23.0592232,16.76633 23.4497475,17.1568542 Z M12.6213203,17.1568542 C13.0118446,16.76633 13.6450096,16.76633 14.0355339,17.1568542 L15.4497475,18.5710678 C15.8402718,18.9615921 15.8402718,19.5947571 15.4497475,19.9852814 C15.0592232,20.3758057 14.4260582,20.3758057 14.0355339,19.9852814 L12.6213203,18.5710678 C12.2307961,18.1805435 12.2307961,17.5473785 12.6213203,17.1568542 Z"
                                                    id="Combined-Shape-Copy-2" fill="#000000" opacity="0.3"
                                                    transform="translate(18.035534, 17.863961) scale(1, -1) rotate(45.000000) translate(-18.035534, -17.863961) ">
                                                </path>
                                            </g>
                                        </svg></span>
                                    <!---->
                                </span>
                                <div class="d-flex flex-column flex-grow-1 mr-2"><a href="#"
                                        class="font-weight-normel text-dark-75 text-hover-primary font-size-lg mb-1">The
                                        best product</a><span class="text-muted font-size-sm">Due
                                        in 2 Days</span></div><span
                                    class="font-weight-bolder text-info py-1 font-size-lg">+8%</span>
                            </div>
                        </div>
                    </div>

                </ng-template>
            </li>
            <li ngbNavItem class="nav-item">
                <a ngbNavLink>Second</a>
                <ng-template ngbNavContent>
                    <div [perfectScrollbar]="{wheelPropagation: false}" id='sa_quick_panel_notifications'
                        class="pt-2 pr-5 mr-n5 scroll kt-notification-v2"
                        [ngStyle]="{'max-height': '85vh', 'position': 'relative'}">
                        <div class="navi navi-icon-circle navi-spacer-x-0"><a href="#" class="navi-item">
                                <div class="navi-link rounded">
                                    <div class="symbol symbol-50 mr-3">
                                        <div class="symbol-label"><i class="flaticon-bell text-success icon-lg"></i>
                                        </div>
                                    </div>
                                    <div class="navi-text">
                                        <div class="font-weight-bold font-size-lg"> 5 new user generated report </div>
                                        <div class="text-muted"> Reports based on sales </div>
                                    </div>
                                </div>
                            </a><a href="#" class="navi-item">
                                <div class="navi-link rounded">
                                    <div class="symbol symbol-50 mr-3">
                                        <div class="symbol-label"><i class="flaticon2-box text-danger icon-lg"></i>
                                        </div>
                                    </div>
                                    <div class="navi-text">
                                        <div class="font-weight-bold font-size-lg"> 2 new items submited </div>
                                        <div class="text-muted"> by Grog John </div>
                                    </div>
                                </div>
                            </a><a href="#" class="navi-item">
                                <div class="navi-link rounded">
                                    <div class="symbol symbol-50 mr-3">
                                        <div class="symbol-label"><i class="flaticon-psd text-primary icon-lg"></i>
                                        </div>
                                    </div>
                                    <div class="navi-text">
                                        <div class="font-weight-bold font-size-lg"> 79 PSD files generated </div>
                                        <div class="text-muted"> Reports based on sales </div>
                                    </div>
                                </div>
                            </a><a href="#" class="navi-item">
                                <div class="navi-link rounded">
                                    <div class="symbol symbol-50 mr-3">
                                        <div class="symbol-label"><i
                                                class="flaticon2-supermarket text-warning icon-lg"></i></div>
                                    </div>
                                    <div class="navi-text">
                                        <div class="font-weight-bold font-size-lg"> $2900 worth producucts sold </div>
                                        <div class="text-muted"> Total 234 items </div>
                                    </div>
                                </div>
                            </a><a href="#" class="navi-item">
                                <div class="navi-link rounded">
                                    <div class="symbol symbol-50 mr-3">
                                        <div class="symbol-label"><i
                                                class="flaticon-paper-plane-1 text-success icon-lg"></i></div>
                                    </div>
                                    <div class="navi-text">
                                        <div class="font-weight-bold font-size-lg"> 4.5h-avarage response time </div>
                                        <div class="text-muted"> Fostest is Barry </div>
                                    </div>
                                </div>
                            </a><a href="#" class="navi-item">
                                <div class="navi-link rounded">
                                    <div class="symbol symbol-50 mr-3">
                                        <div class="symbol-label"><i
                                                class="flaticon-safe-shield-protection text-danger icon-lg"></i></div>
                                    </div>
                                    <div class="navi-text">
                                        <div class="font-weight-bold font-size-lg"> 3 Defence alerts </div>
                                        <div class="text-muted"> 40% less alerts thar last week </div>
                                    </div>
                                </div>
                            </a><a href="#" class="navi-item">
                                <div class="navi-link rounded">
                                    <div class="symbol symbol-50 mr-3">
                                        <div class="symbol-label"><i class="flaticon-notepad text-primary icon-lg"></i>
                                        </div>
                                    </div>
                                    <div class="navi-text">
                                        <div class="font-weight-bold font-size-lg"> Avarage 4 blog posts per author
                                        </div>
                                        <div class="text-muted"> Most posted 12 time </div>
                                    </div>
                                </div>
                            </a><a href="#" class="navi-item">
                                <div class="navi-link rounded">
                                    <div class="symbol symbol-50 mr-3">
                                        <div class="symbol-label"><i class="flaticon-users-1 text-warning icon-lg"></i>
                                        </div>
                                    </div>
                                    <div class="navi-text">
                                        <div class="font-weight-bold font-size-lg"> 16 authors joined last week </div>
                                        <div class="text-muted"> 9 photodrapehrs, 7 designer </div>
                                    </div>
                                </div>
                            </a><a href="#" class="navi-item">
                                <div class="navi-link rounded">
                                    <div class="symbol symbol-50 mr-3">
                                        <div class="symbol-label"><i class="flaticon2-box text-info icon-lg"></i></div>
                                    </div>
                                    <div class="navi-text">
                                        <div class="font-weight-bold font-size-lg"> 2 new items have been submited
                                        </div>
                                        <div class="text-muted"> by Grog John </div>
                                    </div>
                                </div>
                            </a><a href="#" class="navi-item">
                                <div class="navi-link rounded">
                                    <div class="symbol symbol-50 mr-3">
                                        <div class="symbol-label"><i
                                                class="flaticon2-download text-success icon-lg"></i></div>
                                    </div>
                                    <div class="navi-text">
                                        <div class="font-weight-bold font-size-lg"> 2.8 GB-total downloads size </div>
                                        <div class="text-muted"> Mostly PSD end AL concepts </div>
                                    </div>
                                </div>
                            </a><a href="#" class="navi-item">
                                <div class="navi-link rounded">
                                    <div class="symbol symbol-50 mr-3">
                                        <div class="symbol-label"><i
                                                class="flaticon2-supermarket text-danger icon-lg"></i></div>
                                    </div>
                                    <div class="navi-text">
                                        <div class="font-weight-bold font-size-lg"> $2900 worth producucts sold </div>
                                        <div class="text-muted"> Total 234 items </div>
                                    </div>
                                </div>
                            </a><a href="#" class="navi-item">
                                <div class="navi-link rounded">
                                    <div class="symbol symbol-50 mr-3">
                                        <div class="symbol-label"><i class="flaticon-bell text-primary icon-lg"></i>
                                        </div>
                                    </div>
                                    <div class="navi-text">
                                        <div class="font-weight-bold font-size-lg"> 7 new user generated report </div>
                                        <div class="text-muted"> Reports based on sales </div>
                                    </div>
                                </div>
                            </a><a href="#" class="navi-item">
                                <div class="navi-link rounded">
                                    <div class="symbol symbol-50 mr-3">
                                        <div class="symbol-label"><i
                                                class="flaticon-paper-plane-1 text-success icon-lg"></i></div>
                                    </div>
                                    <div class="navi-text">
                                        <div class="font-weight-bold font-size-lg"> 4.5h-avarage response time </div>
                                        <div class="text-muted"> Fostest is Barry </div>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                </ng-template>
            </li>
            <li ngbNavItem class="nav-item">
                <a ngbNavLink>Second</a>
                <ng-template ngbNavContent>
                    <div [perfectScrollbar]="{wheelPropagation: false}" id='sa_quick_panel_notifications'
                        class="pt-3 pr-5 mr-n5 scroll" [ngStyle]="{'max-height': '85vh', 'position': 'relative'}">
                        <form class="form">
                            <div>
                                <h5 class="font-weight-bold mb-3">Customer Care</h5>
                                <div class="form-group mb-0 row align-items-center"><label
                                        class="col-8 col-form-label">Enable Notifications:</label>
                                    <div class="col-4 d-flex justify-content-end"><span
                                            class="switch switch-success switch-sm"><label><input type="checkbox"
                                                    checked="checked" name="select"><span></span></label></span></div>
                                </div>
                                <div class="form-group mb-0 row align-items-center"><label
                                        class="col-8 col-form-label">Enable Case Tracking:</label>
                                    <div class="col-4 d-flex justify-content-end"><span
                                            class="switch switch-success switch-sm"><label><input type="checkbox"
                                                    name="quick_panel_notifications_2"><span></span></label></span>
                                    </div>
                                </div>
                                <div class="form-group mb-0 row align-items-center"><label
                                        class="col-8 col-form-label">Support Portal:</label>
                                    <div class="col-4 d-flex justify-content-end"><span
                                            class="switch switch-success switch-sm"><label><input type="checkbox"
                                                    checked="checked" name="select"><span></span></label></span></div>
                                </div>
                            </div>
                            <div class="separator separator-dashed my-6"></div>
                            <div class="pt-2">
                                <h5 class="font-weight-bold mb-3">Reports</h5>
                                <div class="form-group mb-0 row align-items-center"><label
                                        class="col-8 col-form-label">Generate Reports:</label>
                                    <div class="col-4 d-flex justify-content-end"><span
                                            class="switch switch-sm switch-danger"><label><input type="checkbox"
                                                    checked="checked" name="select"><span></span></label></span></div>
                                </div>
                                <div class="form-group mb-0 row align-items-center"><label
                                        class="col-8 col-form-label">Enable Report Export:</label>
                                    <div class="col-4 d-flex justify-content-end"><span
                                            class="switch switch-sm switch-danger"><label><input type="checkbox"
                                                    name="select"><span></span></label></span></div>
                                </div>
                                <div class="form-group mb-0 row align-items-center"><label
                                        class="col-8 col-form-label">Allow Data Collection:</label>
                                    <div class="col-4 d-flex justify-content-end"><span
                                            class="switch switch-sm switch-danger"><label><input type="checkbox"
                                                    checked="checked" name="select"><span></span></label></span></div>
                                </div>
                            </div>
                            <div class="separator separator-dashed my-6"></div>
                            <div class="pt-2">
                                <h5 class="font-weight-bold mb-3">Memebers</h5>
                                <div class="form-group mb-0 row align-items-center"><label
                                        class="col-8 col-form-label">Enable Member singup:</label>
                                    <div class="col-4 d-flex justify-content-end"><span
                                            class="switch switch-sm switch-primary"><label><input type="checkbox"
                                                    checked="checked" name="select"><span></span></label></span></div>
                                </div>
                                <div class="form-group mb-0 row align-items-center"><label
                                        class="col-8 col-form-label">Allow User Feedbacks:</label>
                                    <div class="col-4 d-flex justify-content-end"><span
                                            class="switch switch-sm switch-primary"><label><input type="checkbox"
                                                    name="select"><span></span></label></span></div>
                                </div>
                                <div class="form-group mb-0 row align-items-center"><label
                                        class="col-8 col-form-label">Enable Customer Portal:</label>
                                    <div class="col-4 d-flex justify-content-end"><span
                                            class="switch switch-sm switch-primary"><label><input type="checkbox"
                                                    checked="checked" name="select"><span></span></label></span></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </ng-template>
            </li>
        </ul>
        <div class="offcanvas-close mt-n1 pr-5"><a href="#" id="sa_quick_panel_close"
                class="btn btn-xs btn-icon btn-light btn-hover-primary"><i
                    class="ki ki-close icon-xs text-muted"></i></a></div>
    </div>
    <div class="offcanvas-content px-10">
        <div class="tab-content" [ngbNavOutlet]="nav"></div>
    </div>