<nav class="navbar sticky-top navbar-light bg-black">
    <div class="container justify-content-space-between">
        <div class="d-flex align-items-center">
            <a class="navbar-brand" href="#">Navbar</a>
            <ul class="nav-menu">
                <li [ngClass]="isActivedHome()"><span (click)="backToHome()">Trang chủ</span>
                </li>
                <li [ngClass]="isActived('language')">
                    <span>Ngôn ngữ</span>
                    <ng-container [ngTemplateOutlet]="showMenuChildren" [ngTemplateOutletContext]="{languages}">
                    </ng-container>
                </li>
                <li [ngClass]="isActived('tricks')">Thủ thuật</li>
            </ul>
        </div>
        <div *ngIf="!loginService.isUserAuthenticated(); else tempUser">
            <fa-icon [icon]="faSignInAlt" style="color: #26bcb0; margin-right: 5px;"></fa-icon>
            <a href="javascript:;" (click)="openLoginModal()" style="color: #fff; font-size: 13px;">Login</a>
        </div>
        <ng-template #tempUser>
            <topbar></topbar>
        </ng-template>
    </div>
</nav>

<ng-template #showMenuChildren let-languages="languages">
    <div class="show-menu-children">
        <div class="d-flex flex-column bg-black">
            <ng-container *ngFor="let language of languages">
                <a href="javascript:;" [routerLink]="['ngon-ngu/', language.slug]">{{language.name}}</a>
            </ng-container>
        </div>

    </div>
</ng-template>