<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-lg">
            <ng-container *ngIf="user">
                <ng-container *ngIf="user['userName']">Cập nhật</ng-container>
                <ng-container *ngIf="!user['userName']">Thêm mới</ng-container>
                user
                <ng-container *ngIf="user['userName']">'{{user['fullName']}}'</ng-container>
            </ng-container>
        </div>
    </div>
    <div class="modal-body">
        <app-loading [isLoading]="isLoading.isGet"></app-loading>
        <ng-container *ngIf="user">
            <form action="#" class="form form-label-right" [formGroup]="formGroup">
                <div class="form-group">
                    <label class="form-label">
                        Họ tên
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control form-control-lg form-control-solid" name="fullName" autocomplete="off" [class.is-invalid]="validatorService.isControlInvalid(formGroup.controls['fullName'])" [class.is-valid]="validatorService.isControlValid(formGroup.controls['fullName'])"
                        formControlName="fullName" />
                    <div class="invalid-feedback" *ngIf="validatorService.controlHasError('required', formGroup.controls['fullName'])">
                        {{ValidatorConsts.ms_required}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">
                        Tài khoản
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control form-control-lg form-control-solid" name="userName" autocomplete="off" [class.is-invalid]="validatorService.isControlInvalid(formGroup.controls['userName'])" [class.is-valid]="validatorService.isControlValid(formGroup.controls['userName'])"
                        formControlName="userName" />
                    <div class="invalid-feedback" *ngIf="validatorService.controlHasError('required', formGroup.controls['userName'])">
                        {{ValidatorConsts.ms_required}}
                    </div>
                    <div class="invalid-feedback" *ngIf="validatorService.controlHasError('pattern', formGroup.controls['userName'])">
                        {{ValidatorConsts.ms_pattern}}
                    </div>
                </div>
                <ng-container *ngIf="!id">
                    <div class="form-group">
                        <label class="form-label">
                            Mật khẩu
                            <span class="text-danger">*</span>
                        </label>
                        <input type="password" class="form-control form-control-lg form-control-solid" autocomplete="off" name="password" [class.is-invalid]="validatorService.isControlInvalid(formGroup.controls['password'])" [class.is-valid]="validatorService.isControlValid(formGroup.controls['password'])"
                            formControlName="password" />
                        <div class="invalid-feedback" *ngIf="validatorService.controlHasError('required', formGroup.controls['password'])">
                            {{ValidatorConsts.ms_required}}
                        </div>
                        <div class="invalid-feedback" *ngIf="validatorService.controlHasError('pattern', formGroup.controls['password'])">
                            {{ValidatorConsts.ms_pattern}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">
                            Nhập lại mật khẩu
                            <span class="text-danger">*</span>
                        </label>
                        <input type="password" class="form-control form-control-solid" autocomplete="password" [class.is-invalid]="validatorService.isControlInvalid(formGroup.controls['confirmPassword'])" [class.is-valid]="validatorService.isControlValid(formGroup.controls['confirmPassword'])"
                            formControlName="confirmPassword" />
                        <div class="invalid-feedback" *ngIf="validatorService.controlHasError('mustMatch', formGroup.controls['confirmPassword'])">
                            {{ValidatorConsts.v_confirmPassword}}
                        </div>
                    </div>
                </ng-container>
                <div class="form-group">
                    <label class="form-label">Quyền</label>
                    <ng-select [items]="dmRoleService.data$ |async" class="form-control form-control-solid" formControlName="roles" [multiple]="true" placeholder="Quyền">
                    </ng-select>
                </div>
                <div class="form-group">
                    <div class="d-flex align-items-center">
                        <div class="dropzone dropzone-multi mr-3">
                            <div class="dropzone-panel mb-lg-0 mb-2">
                                <a class="dropzone-select btn btn-light-primary font-weight-bold btn-sm dz-clickable" (click)="file.click()">
                                    Tải ảnh
                                </a>
                                <input type="file" #file (change)="uploadFile(file.files)" class="d-none" accept="image/*,">
                            </div>
                        </div>
                        <ng-container *ngIf="formGroup.controls['image'].value">
                            <img width="70" alt="" src="{{ formGroup.controls['image'].value }}" />
                        </ng-container>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox-inline">
                        <label class="checkbox">
                            <input type="checkbox" name="isLocked" formControlName="isLocked">
                            <span></span>Khóa</label>
                    </div>
                </div>
            </form>
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Hủy</button>
        <ng-container *ngIf="user">
            <button type="submit" class="btn btn-primary btn-elevate" (click)="save()" btnLoader [loader]="id?isLoading.isPut:isLoading.isPost">
                {{id?'Cập nhật':'Lưu'}}
            </button>
        </ng-container>
    </div>
</div>