<div id="sa_subheader" class="subheader py-2 py-lg-6 subheader-solid">
    <div class="d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap container-fluid">
        <div class="d-flex align-items-center flex-wrap mr-1">
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <h5 class="text-dark font-weight-bold my-1 mr-5" *ngIf="title">{{title}}
                </h5>
            </div>
        </div>

        <div class="d-flex align-items-center" ngbDropdown #dateDrop="ngbDropdown">
            <a id="sa_dashboard_daterangepicker" placement="left" ngbTooltip="Chọn ngày xem báo cáo" container="body"
                class="btn btn-light-primary btn-sm font-weight-bold mr-2 cursor-pointer" ngbDropdownToggle
                id="dropdownDate"><span class="font-weight-bold">{{titleDrop()}}</span>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownDate" placement="right"
                class="dropdown-menu dropdown-menu-right p-0 m-0">
                <form class="">
                    <div class="d-flex">
                        <ul class="navi navi-hover py-2" style="width: 150px;">
                            <li class="navi-item">
                                <a (click)="todayChange()" [class.active]="activeMenu==='today'"
                                    class="navi-link font-weight-bold  cursor-pointer">Hôm
                                    nay</a>
                            </li>
                            <li class="navi-item">
                                <a (click)="yesterdayChange()" [class.active]="activeMenu==='yesterday'"
                                    class="navi-link font-weight-bold  cursor-pointer">Hôm
                                    qua</a>
                            </li>
                            <li class="navi-item">
                                <a (click)="last7Change()" [class.active]="activeMenu==='last7day'"
                                    class="navi-link font-weight-bold  cursor-pointer">7 ngày
                                    trước</a>
                            </li>
                            <li class="navi-item">
                                <a (click)="last30Change()" [class.active]="activeMenu==='last30day'"
                                    class="navi-link font-weight-bold cursor-pointer">30 ngày
                                    trước</a>
                            </li>
                            <li class="navi-item">
                                <a (click)="thisMonthChange()" [class.active]="activeMenu==='this,onth'"
                                    class="navi-link font-weight-bold cursor-pointer">Tháng
                                    này</a>
                            </li>
                            <li class="navi-item">
                                <a (click)="lastMonthChange()" [class.active]="activeMenu==='lastmonth'"
                                    class="navi-link font-weight-bold cursor-pointer">Tháng
                                    trước</a>
                            </li>
                            <li class="navi-item">
                                <a class="navi-link font-weight-bold  cursor-pointer"
                                    [class.active]="activeMenu==='custom'" (click)="customChange()">Tùy chọn khác</a>
                            </li>
                        </ul>
                        <ng-container *ngIf="showCalenda">
                            <div class="daterange-group">
                                <ngb-datepicker #datepicker (dateSelect)="onDateSelection($event)" [displayMonths]="2"
                                    [dayTemplate]="template" [footerTemplate]="footerTemplate" outsideDays="hidden">
                                </ngb-datepicker>
                                <ng-template #template let-date let-focused="focused">
                                    <span class="custom-day" [class.focused]="focused"
                                        [class.start-range]="isStartRange(date)" [class.end-range]="isEndRange(date)"
                                        [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)"
                                        (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                                        {{ date.day }}
                                    </span>
                                </ng-template>
                                <ng-template #footerTemplate>
                                    <div class="text-right p-2 footer-range">
                                        <span class="mr-5">{{formatter.format(fromDate)}} - {{formatter.format(toDate)}}
                                        </span>
                                        <button class="btn btn-secondary btn-sm mr-2" type="button"
                                            (click)="$event.stopPropagation(); dateDrop.close();">Đóng</button>
                                        <button class="btn btn-primary btn-sm" type="button" (click)="emiter()"
                                            [disabled]="!isValid()">Áp
                                            dụng</button>
                                    </div>
                                </ng-template>
                            </div>
                        </ng-container>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>