.topic-list .list-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    color: #303344;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .01em;
}

.topic-list .list-header>[class^=col] {
    padding: 20px 15px 22px;
}

.topic-list .list-header .col-topic {
    width: 50%;
    flex: 2 1 auto;
}

.topic-list .list-header .col-category {
    width: 16.66667%;
}

.topic-list .list-header .col-value {
    width: 8.33333%;
}

.topic-list .item.itemselect {
    background-color: #f9efe3;
    border-bottom: 1px solid #e2e7ea;
}

.topic-list .item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    position: relative;
    min-height: 101px;
    padding: 20px 15px;
}

.topic-list .item .col-value {
    width: 8.33333%;
}

.topic-list .item>[class^=col] {
    padding-left: 10px;
    padding-right: 10px;
}

.topic-list .item .col-avatar {
    width: 10.33333%;
}

.topic-list .item .col-description {
    flex: 2 1 auto;
    padding-bottom: 2px;
}

.topic-list .item .col-description .title {
    color: #303344;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    letter-spacing: .01em;
}

.topic-list .item .col-description>:last-child {
    padding-bottom: 0;
}

.list-badge {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 5px 0 0 -8px;
}

.list-badge li {
    margin-left: 8px;
    margin-right: 8px;
}

.badge.color01 {
    background-color: #2e3192;
}

.badge {
    font-size: 14px;
    padding: 1px 7px 2px;
    line-height: 1;
    font-weight: 500;
    height: 25px;
    border: none;
    outline: 0;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 3px;
    color: #fff;
}

.badge:not([class^=color]) {
    background-color: #d7dadc;
    color: #182730;
}

@media (min-width: 992px) {
    .topic-list .show-mobile {
        display: none;
    }
    .topic-list .item .col-description {
        width: 41.66667%;
    }
    .topic-list .item .col-avatar {
        width: 8.33333%;
    }
    .topic-list .item .col-category:not(.col-value-large) {
        width: 16.66667%;
    }
}

@media (max-width: 991px) {
    .topic-list .item .col-description {
        width: 58.33333%;
    }
    .topic-list .item .col-avatar {
        width: 10.33333%;
    }
    .topic-list .item .col-category {
        display: none;
    }
    .topic-list .list-header .col-category,
    .topic-list .list-header .col-value,
    .topic-list .hide-mobile {
        display: none;
    }
}

@media (max-width: 767px) {
    .topic-list .item .col-description {
        width: 76.33333%;
    }
}