<div class="container-lg">
    <div class="topic-list">
        <div class="list-header">
            <div class="col-topic">Topic</div>
            <div class="col-category">Category</div>
            <div class="col-value hide-mobile">Likes</div>
            <div class="col-value hide-mobile">Replies</div>
            <div class="col-value hide-mobile">Views</div>
            <div class="col-value">Activity</div>
        </div>

        <div class="item itemselect">
            <div class="col-avatar">

            </div>
            <div class="col-description">
                <h6 class="title">
                    Halloween Costume Contest 2018
                </h6>
                <div class="row align-items-center no-gutters">
                    <div class="col-11">
                        <ul class="list-badge">
                            <li class="show-mobile"><a href="#"><span class="color01 badge">
                                        politics
                                    </span></a></li>
                            <li><a href="#"><span class="badge">
                                        contests
                                    </span></a></li>
                            <li><a href="#"><span class="badge">
                                        authors
                                    </span></a></li>
                        </ul>
                    </div>
                    <div class="col-1 ml-auto show-mobile">
                        <div class="value">1h</div>
                    </div>
                </div>
            </div>
            <div class="col-category">
                <span class="color01 badge">politics</span>
            </div>
            <div class="col-value hide-mobile">985</div>
            <div class="col-value color-select hide-mobile">502</div>
            <div class="col-value hide-mobile">15.1k</div>
            <div class="col-value hide-mobile">1h</div>

        </div>
    </div>
</div>