<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Danh sách trang</h3>
        </div>
    </div>
    <div class="card-body">
        <app-loading [isLoading]="isLoading.isGet"></app-loading>
        <tree-root [nodes]="menusHierachy" #tree>
            <ng-template #treeNodeTemplate let-node let-index="index">
                <span>
                    <span *ngIf="node.data.svg" [inlineSVG]="'./assets/media/svg/icons/'+node.data.svg"
                        [cacheSVG]="true" class="svg-icon menu-icon">
                    </span>
                    <i *ngIf="node.data.icon" class="{{node.data.icon}} mr-2"></i>
                    {{ node.data.name }}</span>
                <div ngbDropdown class="d-inline-block" container="body">
                    <span ngbDropdownToggle class="ml-2">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </span>
                    <div ngbDropdownMenu>
                        <button class="dropdown-item" (click)="edit(node.data.id)">
                            <i class="fas fa-pencil-alt mr-2" aria-hidden="true"></i>Chỉnh sửa trang
                        </button>
                        <button class="dropdown-item" (click)="moveDown(node.data.id)">
                            <i class="fas fa-arrow-down mr-2" aria-hidden="true"></i>Di chuyển xuống
                        </button>
                        <button class="dropdown-item" (click)="moveUp(node.data.id)">
                            <i class="fas fa-arrow-up mr-2" aria-hidden="true"></i>Di chuyển lên
                        </button>
                    </div>
                </div>
            </ng-template>
        </tree-root>
    </div>
</div>