<div class="d-flex flex-column flex-root vh-100">
    <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
        <div class="login-aside d-flex flex-column flex-row-auto" style="background-color: #B1DCED;">
            <div class="d-flex flex-column-auto flex-column pt-lg-40 pt-15">
                <a href="https://ehis.vn" target="_blank" class="text-center mb-10">
                    <img style="width: 150px;" src="./assets/media/logos/logo-light.png" alt="logo Ehis Song Ân" />
                </a>
                <h3 class="font-weight-bolder text-center font-size-h4 font-size-h1-lg" style="color: #181C32 ;">
                    Phần Mềm
                    <br /> Quản Lý Trang Thiết Bị
                </h3>
                <div class="text-center ">
                    <b>Chất Lượng</b><span> an tâm, âm thầm </span><b>Phục Vụ</b>
                </div>
            </div>
            <div class="aside-img d-flex flex-row-fluid bgi-no-repeat bgi-position-y-bottom bgi-position-x-center" style="background-image: url(./assets/media/images/visual.png)">
            </div>
        </div>
        <div class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
            <div class="d-flex flex-column-fluid flex-center">
                <div class="login-form login-signin">
                    <form class="form" novalidate="novalidate" [formGroup]="loginForm">
                        <div class="pb-13 pt-lg-0 pt-5">
                            <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">Đăng nhập</h3>
                        </div>
                        <div class="form-group">
                            <label class="font-size-h6 font-weight-bolder text-dark">Tài khoản</label>
                            <input class="form-control form-control-solid h-auto py-6 px-6 rounded-lg" type="text" autocomplete="off" [class.is-invalid]="validatorService.isControlInvalid(loginForm.controls['userName'])" [class.is-valid]="validatorService.isControlValid(loginForm.controls['userName'])"
                                formControlName="userName" />
                            <div class="fv-plugins-message-container" *ngIf="validatorService.isControlInvalid(loginForm.controls['userName'])">
                                <div class="fv-help-block" *ngIf="validatorService.controlHasError('required', loginForm.controls['userName'])">
                                    {{ValidatorConsts.ms_required}}
                                </div>
                                <div class="fv-help-block" *ngIf="validatorService.controlHasError('pattern', loginForm.controls['userName'])">
                                    {{ValidatorConsts.ms_pattern}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="font-size-h6 font-weight-bolder text-dark pt-5">Mật khẩu</label>
                            <input class="form-control form-control-solid h-auto py-6 px-6 rounded-lg" type="password" autocomplete="off" [class.is-invalid]="validatorService.isControlInvalid(loginForm.controls['password'])" [class.is-valid]="validatorService.isControlValid(loginForm.controls['password'])"
                                formControlName="password" />
                            <div class="fv-plugins-message-container" *ngIf="validatorService.isControlInvalid(loginForm.controls['password'])">
                                <div class="fv-help-block" *ngIf="validatorService.controlHasError('required', loginForm.controls['password'])">
                                    {{ValidatorConsts.ms_required}}
                                </div>
                                <div class="fv-help-block" *ngIf="validatorService.controlHasError('pattern', loginForm.controls['password'])">
                                    {{ValidatorConsts.ms_pattern}}
                                </div>
                            </div>
                        </div>
                        <div class="pb-lg-0 pb-5 float-right">
                            <button type="submit" [disabled]="!loginForm.valid" (click)="login()" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3" btnLoader [loader]="isLoading">
                                Đăng nhập
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="d-flex justify-content-lg-start justify-content-center align-items-end py-7 py-lg-0">
                <div class="text-dark-50 font-size-lg font-weight-bolder mr-10">
                    <span class="mr-1">2021©</span>
                    <a href="https://ehis.vn" target="_blank" class="text-dark-75 text-hover-primary">Song Ân</a>
                </div>
                <a href="https://ehis.vn/vi-vn/home/sanpham" target="_blank" class="text-primary font-weight-bolder font-size-lg">Sản phẩm</a>
                <a href="https://ehis.vn/lien-he-song-an" target="_blank" class="text-primary ml-5 font-weight-bolder font-size-lg">Hỗ trợ</a>
                <a href="https://ehis.vn/lien-he-song-an" target="_blank" class="text-primary ml-5 font-weight-bolder font-size-lg">Liên hệ</a>
            </div>
        </div>
    </div>
</div>