<div id="subheader">
  <div id="subheader-inner" class="inner-block">
    <div class="site-name">PixelGoose.com</div>
    <p class="site-description">Premium styles for phpBB3</p>
  </div>
</div>
<div class="container-lg">
  <div class="row">
    <div class="col-9">
      <div class="card mb-3">
        <div class="card-header bg-green">
          <div class="row">
            <div class="col-4"><strong>Your first category</strong></div>
            <div class="col-2 text-center"><strong>Topics</strong></div>
            <div class="col-2 text-center"><strong>Posts</strong></div>
            <div class="col-4"><strong>Last post</strong></div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <div class="d-flex">
                <img src="../../../../assets/images/forum_read.svg" alt="" />
                <div class="ml-2">
                  <a class="forumtitle" href="javascript:;" (click)="navigatePage()" >Your first forum</a>
                  <br />
                  <span class="size-14">Description of your first forum</span>
                </div>
              </div>
            </div>
            <div class="col-2 text-center">4</div>
            <div class="col-2 text-center">9</div>
            <div class="col-4">
              <span>Re: phpBB3 thread</span>
              <br />
              <span>by lutvia</span>
              <br />
              <span>Wed Apr 09, 2014 2:28 pm</span>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="d-flex">
                <img src="../../../../assets/images/forum_read.svg" alt="" />
                <div class="ml-2">
                  <a class="forumtitle" href="#">Your first forum</a>
                  <br />
                  <span class="size-14">Description of your first forum</span>
                </div>
              </div>
            </div>
            <div class="col-2 text-center">4</div>
            <div class="col-2 text-center">9</div>
            <div class="col-4">
              <span>Re: phpBB3 thread</span>
              <br />
              <span>by lutvia</span>
              <br />
              <span>Wed Apr 09, 2014 2:28 pm</span>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="d-flex">
                <img src="../../../../assets/images/forum_read.svg" alt="" />
                <div class="ml-2">
                  <a class="forumtitle" href="#">Your first forum</a>
                  <br />
                  <span class="size-14">Description of your first forum</span>
                </div>
              </div>
            </div>
            <div class="col-2 text-center">4</div>
            <div class="col-2 text-center">9</div>
            <div class="col-4">
              <span>Re: phpBB3 thread</span>
              <br />
              <span>by lutvia</span>
              <br />
              <span>Wed Apr 09, 2014 2:28 pm</span>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="d-flex">
                <img src="../../../../assets/images/forum_read.svg" alt="" />
                <div class="ml-2">
                  <a class="forumtitle" href="#">Your first forum</a>
                  <br />
                  <span class="size-14">Description of your first forum</span>
                </div>
              </div>
            </div>
            <div class="col-2 text-center">4</div>
            <div class="col-2 text-center">9</div>
            <div class="col-4">
              <span>Re: phpBB3 thread</span>
              <br />
              <span>by lutvia</span>
              <br />
              <span>Wed Apr 09, 2014 2:28 pm</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-header bg-black text-white">Card title</div>
        <img
          src="../../../../assets/images/site_logo.svg"
          class="card-img-bottom p-2"
          alt="..."
        />
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12">
      <user-online></user-online>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <statistics></statistics>
    </div>
  </div>
</div>
