<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">Thêm mới chủ đề</div>
        <div class="card-toolbar">
            <button type="button" class="btn btn-light mx-2" (click)="back()">
                <i class="fa fa-arrow-left"></i> Quay lại</button>
        </div>
    </div>
    <div class="card-body">
        <form action="">
            <div class="form-group">
                <label for="">Chủ đề</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Url</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Description</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Code</label>
                <textarea rows="3" class="form-control language-csharp"></textarea>
            </div>
            <div class="form-group">
                <label for="">Link Online</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Danh mục</label>
                <input type="text" class="form-control">
            </div>
        </form>
    </div>
</div>