<div class="daterange-group">
    <div class="form-group hidden">
        <div class="input-group" style="z-index: 999999;">
            <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
                [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2"
                [dayTemplate]="template" outsideDays="hidden" [startDate]="fromDate!"
                tabindex="-1">
            <ng-template #template let-date let-focused="focused">
                <span class="custom-day" [class.focused]="focused" [class.start-range]="isStartRange(date)"
                    [class.end-range]="isEndRange(date)" [class.range]="isRange(date)"
                    [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                    (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                </span>
            </ng-template>
        </div>
    </div>
    <div class="from-date"> 
        <label>Từ ngày:</label>
        <div class="input-group">
            <input #dpFromDate class="form-control" placeholder="dd/mm/yyyy" autocomplete="off" saDateMask
                name="dpFromDate" [value]="formatter.format(fromDate)"
                (input)="fromDate = validateInput(fromDate, dpFromDate.value,false)"
                [class.is-invalid]="!checkDateType(dpFromDate.value, false,datepicker.isOpen())">
            <div class="input-group-append">
                <span class="input-group-text">
                    đến
                </span>
            </div>
        </div>
    </div>
    <div class="to-date"> 
        <label>Đến ngày:</label>
        <div class="input-group">
            <input #dpToDate class="form-control" placeholder="dd/mm/yyyy" autocomplete="off" name="dpToDate" saDateMask
                [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value, true)"
                [class.is-invalid]="!checkDateType(dpToDate.value, true,datepicker.isOpen()) || checkMinDate()">
            <div class="input-group-append" (click)="datepicker.toggle()">
                <span class="input-group-text">
                    <i class="text-dark-50 ki ki-calendar"></i>
                </span>
            </div>
        </div>
    </div>
</div>