<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-lg">
            <ng-container *ngIf="role">
                <ng-container *ngIf="role.id">Cập nhật</ng-container>
                <ng-container *ngIf="!role.id">Thêm mới</ng-container>
                quyền
                <ng-container *ngIf="role.id">'{{role['name']}}'</ng-container>
            </ng-container>
        </div>
    </div>
    <div class="modal-body">
        <app-loading [isLoading]="isLoading.isGet"></app-loading>
        <ng-container *ngIf="role">
            <form action="#" class="form form-label-right" [formGroup]="formGroup">
                <div class="form-group">
                    <label class="form-label">
                        Tên quyền
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control form-control-lg form-control-solid" name="name" autocomplete="off" [class.is-invalid]="validatorService.isControlInvalid(formGroup.controls['name'])" [class.is-valid]="validatorService.isControlValid(formGroup.controls['name'])"
                        formControlName="name" />
                    <div class="invalid-feedback" *ngIf="validatorService.controlHasError('required', formGroup.controls['name'])">
                        {{ValidatorConsts.ms_required}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Mô tả</label>
                    <input type="text" class="form-control form-control-lg form-control-solid" name="description" autocomplete="off" [class.is-invalid]="validatorService.isControlInvalid(formGroup.controls['description'])" [class.is-valid]="validatorService.isControlValid(formGroup.controls['description'])"
                        formControlName="description" />
                </div>
                <div class="form-group">
                    <div class="checkbox-inline">
                        <label class="checkbox">
                            <input type="checkbox" name="isLocked" formControlName="isLocked">
                            <span></span>Khóa</label>
                    </div>
                </div>
            </form>
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Hủy</button>
        <ng-container *ngIf="role">
            <button type="submit" class="btn btn-primary btn-elevate" (click)="save()" btnLoader [loader]="id?isLoading.isPut:isLoading.isPost">
                {{id?'Cập nhật':'Lưu'}}
            </button>
        </ng-container>
    </div>
</div>