<div class="modal-content">
    <ngb-progressbar *ngIf="bar" type="primary" [value]="100" [striped]="true" [animated]="true" [height]="'4px'">
    </ngb-progressbar>
    <div class="modal-header">
        <div class="modal-title h4">
            {{title&&title!=''?title:'Thực hiện xóa'}}
        </div> <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss()">×</button>
    </div>
    <div class="modal-body">
        <div>
            {{question&&question!=''?question:'Bạn có chắc chắn muốn xóa không?'}}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Hủy</button>
        <button btnLoader [loader]="bar" type="button" class="btn btn-primary" (click)="close()">Có</button>
    </div>
</div>