<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-lg">
            <ng-container *ngIf="navigation">
                <ng-container *ngIf="navigation.id">Cập nhật</ng-container>
                <ng-container *ngIf="!navigation.id">Thêm mới</ng-container>
                trang
                <ng-container *ngIf="navigation.id">'{{navigation['name']}}'</ng-container>
            </ng-container>
        </div>
    </div>
    <div class="modal-body">
        <app-loading [isLoading]="isLoading.isGet"></app-loading>
        <ng-container *ngIf="navigation">
            <form action="#" class="form form-label-right" [formGroup]="formGroup">
                <div class="form-group">
                    <label class="form-label">
                        Tên trang
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control form-control-lg form-control-solid" name="name" autocomplete="off" [class.is-invalid]="validatorService.isControlInvalid(formGroup.controls['name'])" [class.is-valid]="validatorService.isControlValid(formGroup.controls['name'])"
                        formControlName="name" />
                    <div class="invalid-feedback" *ngIf="validatorService.controlHasError('required', formGroup.controls['name'])">
                        {{ValidatorConsts.ms_required}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">
                        Mã
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control form-control-lg form-control-solid" name="code" autocomplete="off" [class.is-invalid]="validatorService.isControlInvalid(formGroup.controls['code'])" [class.is-valid]="validatorService.isControlValid(formGroup.controls['code'])"
                        formControlName="code" />
                    <div class="invalid-feedback" *ngIf="validatorService.controlHasError('required', formGroup.controls['code'])">
                        {{ValidatorConsts.ms_required}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Url</label>
                    <input type="text" class="form-control form-control-lg form-control-solid" name="url" autocomplete="off" formControlName="url" />
                </div>
                <div class="form-group">
                    <label class="form-label">Icon</label>
                    <input type="text" class="form-control form-control-lg form-control-solid" name="icon" autocomplete="off" formControlName="icon" />
                </div>
                <div class="form-group">
                    <label class="form-label">Svg</label>
                    <textarea class="form-control form-control-lg form-control-solid" name="svg" formControlName="svg"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-label">Bullet</label>
                    <select class="form-control" name="bullet" formControlName="bullet">
                        <option value="dot">Dot</option>
                        <option value="line">Line</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="checkbox-inline">
                        <label class="checkbox">
                            <input type="checkbox" name="root" formControlName="root">
                            <span></span>Root</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox-inline">
                        <label class="checkbox">
                            <input type="checkbox" name="isSection" formControlName="isSection">
                            <span></span>Section</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox-inline">
                        <label class="checkbox">
                            <input type="checkbox" name="isLockClient" formControlName="isLockClient">
                            <span></span>Khóa client</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox-inline">
                        <label class="checkbox">
                            <input type="checkbox" name="isLocked" formControlName="isLocked">
                            <span></span>Khóa</label>
                    </div>
                </div>
            </form>
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Hủy</button>
        <ng-container *ngIf="navigation">
            <button type="submit" class="btn btn-primary btn-elevate" (click)="save()" btnLoader [loader]="id?isLoading.isPut:isLoading.isPost">
                {{id?'Cập nhật':'Lưu'}}
            </button>
        </ng-container>
    </div>
</div>