<div class="container">
    <ul>
        <li>
            <fa-icon [icon]="faHome" [size]=""></fa-icon>
            <a href="#" style="margin-left: 3px; color: #303344;">
                <u>{{linkList}}</u>
            </a>
        </li>
    </ul>
</div>