<nav-bar></nav-bar>
<header-bar></header-bar>
<link-list></link-list>

<router-outlet></router-outlet>

<footer></footer>
<ng-container *ngIf="loginService.isUserAuthenticated()">
    <user-panel></user-panel>
</ng-container>