<div #saHeader class="d-flex align-items-stretch justify-content-between container-fluid">
    <ngb-progressbar class="loading-bar" *ngIf="((loader.progress$|async)||0) > 0" [value]="(loader.progress$|async)||0" height="3px"></ngb-progressbar>
    <div id="sa_header_menu_wrapper" class="header-menu-wrapper header-menu-wrapper-left">
        <sa-menu-horizontal id="sa_header_menu" class="header-menu header-menu-mobile header-menu-layout-default">
        </sa-menu-horizontal>
    </div>
    <topbar class="topbar"></topbar>
</div>