<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Danh sách quyền</h3>
        </div>
        <div class="card-toolbar">
            <button type="button" class="btn btn-primary" (click)="create()">Thêm mới</button>
        </div>
    </div>
    <div class="card-body">
        <div class="form form-label-right">
            <div class="form-group row">
                <div class="col-lg-3" [formGroup]="searchGroup">
                    <input type="text" placeholder="Từ khóa..." class="form-control" formControlName="keyword">
                </div>
            </div>
        </div>
        <app-loading [isLoading]="isLoading.isGet"></app-loading>
        <div class="table-responsive angular-bootstrap-table">
            <table class="table table-head-custom table-vertical-center overflow-hidden">
                <thead>
                    <th>
                        Tên quyền
                        <app-sort-icon column="name" [activeColumn]="sorting.column"
                            [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
                    </th>
                    <th>
                        Mô tả
                        <app-sort-icon column="description" [activeColumn]="sorting.column"
                            [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
                    </th>
                    <th>
                        Trạng thái
                        <app-sort-icon column="isLocked" [activeColumn]="sorting.column"
                            [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
                    </th>
                    <th class="thao-tac">Thao tác</th>
                </thead>
                <tbody>
                    <ng-container *ngIf="!isLoading.isGet">
                        <tr *ngFor="let role of roles">
                            <td>{{ role.name }}</td>
                            <td>{{ role.description }}</td>
                            <td>
                                <span class="label label-lg label-inline" [class.label-light-danger]="role.isLocked"
                                    [class.label-light-success]="!role.isLocked">
                                    <ng-container *ngIf="role.isLocked; else elseBlock">Đã bị khóa</ng-container>
                                    <ng-template #elseBlock>Đang hoạt động</ng-template>
                                </span>
                            </td>
                            <td>
                                <a title="Cập nhật quyền" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
                                    (click)="edit(role.id)">
                                    <span [inlineSVG]="'./assets/media/svg/icons/Write.svg'" [cacheSVG]="true"
                                        class="svg-icon svg-icon-md svg-icon-primary">
                                    </span>
                                </a>
                                <a title="Xóa quyền" class="btn btn-icon btn-light btn-hover-danger btn-sm"
                                    (click)="delete(role.id, role.name)">
                                    <span [inlineSVG]="'./assets/media/svg/icons/Trash.svg'" [cacheSVG]="true"
                                        class="svg-icon svg-icon-md svg-icon-danger">
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
            [isLoading]="isLoading.isGet" (paginate)="paginate($event)">
        </app-paginator>
    </div>
</div>