<div class="row">
    <div class="col-3">
        <label>Thời gian<span class="text-danger">*</span></label>
        <ng-select [items]="type" class=" form-control form-control-sm" [formControl]="timeTypeControl"
            [clearable]="false" (change)="onChange()">
        </ng-select>
    </div>
    <div class="col-9" [formGroup]="timeGroup">
        <sa-date-range *ngIf="timeTypeControl.value == 1" [fromDateControl]="fromDateControl"
            [customClass]="customClass" [toDateControl]="toDateControl" (dateChange)=" dateChange($event)">
        </sa-date-range>
        <div *ngIf="timeTypeControl.value == 2" class="row">
            <div class="col-6">
                <label>Tháng<span class="text-danger">*</span></label>
                <ng-select [items]="dataConst.thang" class=" form-control form-control-sm" [clearable]="false"
                    (change)="monthChange()" formControlName="month">
                </ng-select>
            </div>
            <div class="col-6">
                <label>Năm<span class="text-danger">*</span></label>
                <ng-select [items]="dataConst.nam" class=" form-control form-control-sm" [clearable]="false"
                    formControlName="year" (change)="yearChange()">
                </ng-select>
            </div>
        </div>
        <div *ngIf="timeTypeControl.value == 3" class="row">
            <div class="col-6">
                <label>Quý<span class="text-danger">*</span></label>
                <ng-select [items]="dataConst.quy" class=" form-control form-control-sm" [clearable]="false"
                    formControlName="quarter" (change)="quarterChange()">
                </ng-select>
            </div>
            <div class="col-6">
                <label>Năm<span class="text-danger">*</span></label>
                <ng-select [items]="dataConst.nam" class=" form-control form-control-sm" [clearable]="false"
                    formControlName="year" (change)="yearChange()">
                </ng-select>
            </div>
        </div>
        <div *ngIf="timeTypeControl.value == 4">
            <label>Năm<span class="text-danger">*</span></label>
            <ng-select [items]="dataConst.nam" class=" form-control form-control-sm" [clearable]="false"
                formControlName="year" (change)="yearChange()">
            </ng-select>
        </div>
    </div>
</div>