.sa-rpt * {
    font-family: "Times New Roman", arial, Roboto, Helvetica, Arial, sans-serif, "Open Sans", sans-serif;
    color: #000;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    line-height: 1.3;
    box-sizing: border-box;
}
.sa-rpt .sheet {
    margin: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    page-break-after: always;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
/** Paper sizes **/
/**---------A4------------**/
.sa-rpt .A4 .sheet {
    width: 210mm;
    min-height: 296mm;
}
.sa-rpt .A4 .sheet.sa-p-10mm {
    min-height: 277mm;
}
.sa-rpt .A4.landscape .sheet {
    width: 297mm;
    min-height: 209mm
}
.sa-rpt .A3 .sheet {
    width: 297mm;
    min-height: 419mm
}
.sa-rpt .A3.landscape .sheet {
    width: 420mm;
}

.sa-rpt .A5 .sheet {
    width: 148mm;
    min-height: 209mm
}
.sa-rpt .A5.landscape .sheet {
    width: 210mm;
    min-height: 147mm
}
.sa-rpt .letter .sheet {
    width: 216mm;
    min-height: 279mm
}
.sa-rpt .letter.landscape .sheet {
    width: 280mm;
    min-height: 215mm
}
.sa-rpt .legal .sheet {
    width: 216mm;
    min-height: 356mm
}
.sa-rpt .legal.landscape .sheet {
    width: 357mm;
    min-height: 215mm
}
/** Padding area **/
.sa-rpt-footer{
    position: fixed;
    bottom: 5mm;
    right: 10px;
    font-size: 11px;
    color: #666; 
}
.row {
    margin-right: -5px;
    margin-left: -5px;
    display: flex;
    flex-wrap: wrap;
}
.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto{position:relative;width:100%;padding-right:5px;padding-left:5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.col{flex-basis:0;flex-grow:1;max-width:100%}.col-auto{flex:0 0 auto;width:auto;max-width:100%}.col-1{flex:0 0 8.33333%;max-width:8.33333%}.col-2{flex:0 0 16.66667%;max-width:16.66667%}.col-3{flex:0 0 25%;max-width:25%}.col-4{flex:0 0 33.33333%;max-width:33.33333%}.col-5{flex:0 0 41.66667%;max-width:41.66667%}.col-6{flex:0 0 50%;max-width:50%}.col-7{flex:0 0 58.33333%;max-width:58.33333%}.col-8{flex:0 0 66.66667%;max-width:66.66667%}.col-9{flex:0 0 75%;max-width:75%}.col-10{flex:0 0 83.33333%;max-width:83.33333%}.col-11{flex:0 0 91.66667%;max-width:91.66667%}.col-12{flex:0 0 100%;max-width:100%}.order-first{order:-1}.order-last{order:13}.order-0{order:0}.order-1{order:1}.order-2{order:2}.order-3{order:3}.order-4{order:4}.order-5{order:5}.order-6{order:6}.order-7{order:7}.order-8{order:8}.order-9{order:9}.order-10{order:10}.order-11{order:11}.order-12{order:12}.offset-1{margin-left:8.33333%}.offset-2{margin-left:16.66667%}.offset-3{margin-left:25%}.offset-4{margin-left:33.33333%}.offset-5{margin-left:41.66667%}.offset-6{margin-left:50%}.offset-7{margin-left:58.33333%}.offset-8{margin-left:66.66667%}.offset-9{margin-left:75%}.offset-10{margin-left:83.33333%}.offset-11{margin-left:91.66667%}@media (min-width:576px){.col-sm{flex-basis:0;flex-grow:1;max-width:100%}.col-sm-auto{flex:0 0 auto;width:auto;max-width:100%}.col-sm-1{flex:0 0 8.33333%;max-width:8.33333%}.col-sm-2{flex:0 0 16.66667%;max-width:16.66667%}.col-sm-3{flex:0 0 25%;max-width:25%}.col-sm-4{flex:0 0 33.33333%;max-width:33.33333%}.col-sm-5{flex:0 0 41.66667%;max-width:41.66667%}.col-sm-6{flex:0 0 50%;max-width:50%}.col-sm-7{flex:0 0 58.33333%;max-width:58.33333%}.col-sm-8{flex:0 0 66.66667%;max-width:66.66667%}.col-sm-9{flex:0 0 75%;max-width:75%}.col-sm-10{flex:0 0 83.33333%;max-width:83.33333%}.col-sm-11{flex:0 0 91.66667%;max-width:91.66667%}.col-sm-12{flex:0 0 100%;max-width:100%}.order-sm-first{order:-1}.order-sm-last{order:13}.order-sm-0{order:0}.order-sm-1{order:1}.order-sm-2{order:2}.order-sm-3{order:3}.order-sm-4{order:4}.order-sm-5{order:5}.order-sm-6{order:6}.order-sm-7{order:7}.order-sm-8{order:8}.order-sm-9{order:9}.order-sm-10{order:10}.order-sm-11{order:11}.order-sm-12{order:12}.offset-sm-0{margin-left:0}.offset-sm-1{margin-left:8.33333%}.offset-sm-2{margin-left:16.66667%}.offset-sm-3{margin-left:25%}.offset-sm-4{margin-left:33.33333%}.offset-sm-5{margin-left:41.66667%}.offset-sm-6{margin-left:50%}.offset-sm-7{margin-left:58.33333%}.offset-sm-8{margin-left:66.66667%}.offset-sm-9{margin-left:75%}.offset-sm-10{margin-left:83.33333%}.offset-sm-11{margin-left:91.66667%}}@media (min-width:768px){.col-md{flex-basis:0;flex-grow:1;max-width:100%}.col-md-auto{flex:0 0 auto;width:auto;max-width:100%}.col-md-1{flex:0 0 8.33333%;max-width:8.33333%}.col-md-2{flex:0 0 16.66667%;max-width:16.66667%}.col-md-3{flex:0 0 25%;max-width:25%}.col-md-4{flex:0 0 33.33333%;max-width:33.33333%}.col-md-5{flex:0 0 41.66667%;max-width:41.66667%}.col-md-6{flex:0 0 50%;max-width:50%}.col-md-7{flex:0 0 58.33333%;max-width:58.33333%}.col-md-8{flex:0 0 66.66667%;max-width:66.66667%}.col-md-9{flex:0 0 75%;max-width:75%}.col-md-10{flex:0 0 83.33333%;max-width:83.33333%}.col-md-11{flex:0 0 91.66667%;max-width:91.66667%}.col-md-12{flex:0 0 100%;max-width:100%}.order-md-first{order:-1}.order-md-last{order:13}.order-md-0{order:0}.order-md-1{order:1}.order-md-2{order:2}.order-md-3{order:3}.order-md-4{order:4}.order-md-5{order:5}.order-md-6{order:6}.order-md-7{order:7}.order-md-8{order:8}.order-md-9{order:9}.order-md-10{order:10}.order-md-11{order:11}.order-md-12{order:12}.offset-md-0{margin-left:0}.offset-md-1{margin-left:8.33333%}.offset-md-2{margin-left:16.66667%}.offset-md-3{margin-left:25%}.offset-md-4{margin-left:33.33333%}.offset-md-5{margin-left:41.66667%}.offset-md-6{margin-left:50%}.offset-md-7{margin-left:58.33333%}.offset-md-8{margin-left:66.66667%}.offset-md-9{margin-left:75%}.offset-md-10{margin-left:83.33333%}.offset-md-11{margin-left:91.66667%}}@media (min-width:1024px){.col-lg{flex-basis:0;flex-grow:1;max-width:100%}.col-lg-auto{flex:0 0 auto;width:auto;max-width:100%}.col-lg-1{flex:0 0 8.33333%;max-width:8.33333%}.col-lg-2{flex:0 0 16.66667%;max-width:16.66667%}.col-lg-3{flex:0 0 25%;max-width:25%}.col-lg-4{flex:0 0 33.33333%;max-width:33.33333%}.col-lg-5{flex:0 0 41.66667%;max-width:41.66667%}.col-lg-6{flex:0 0 50%;max-width:50%}.col-lg-7{flex:0 0 58.33333%;max-width:58.33333%}.col-lg-8{flex:0 0 66.66667%;max-width:66.66667%}.col-lg-9{flex:0 0 75%;max-width:75%}.col-lg-10{flex:0 0 83.33333%;max-width:83.33333%}.col-lg-11{flex:0 0 91.66667%;max-width:91.66667%}.col-lg-12{flex:0 0 100%;max-width:100%}.order-lg-first{order:-1}.order-lg-last{order:13}.order-lg-0{order:0}.order-lg-1{order:1}.order-lg-2{order:2}.order-lg-3{order:3}.order-lg-4{order:4}.order-lg-5{order:5}.order-lg-6{order:6}.order-lg-7{order:7}.order-lg-8{order:8}.order-lg-9{order:9}.order-lg-10{order:10}.order-lg-11{order:11}.order-lg-12{order:12}.offset-lg-0{margin-left:0}.offset-lg-1{margin-left:8.33333%}.offset-lg-2{margin-left:16.66667%}.offset-lg-3{margin-left:25%}.offset-lg-4{margin-left:33.33333%}.offset-lg-5{margin-left:41.66667%}.offset-lg-6{margin-left:50%}.offset-lg-7{margin-left:58.33333%}.offset-lg-8{margin-left:66.66667%}.offset-lg-9{margin-left:75%}.offset-lg-10{margin-left:83.33333%}.offset-lg-11{margin-left:91.66667%}}@media (min-width:1399px){.col-xl{flex-basis:0;flex-grow:1;max-width:100%}.col-xl-auto{flex:0 0 auto;width:auto;max-width:100%}.col-xl-1{flex:0 0 8.33333%;max-width:8.33333%}.col-xl-2{flex:0 0 16.66667%;max-width:16.66667%}.col-xl-3{flex:0 0 25%;max-width:25%}.col-xl-4{flex:0 0 33.33333%;max-width:33.33333%}.col-xl-5{flex:0 0 41.66667%;max-width:41.66667%}.col-xl-6{flex:0 0 50%;max-width:50%}.col-xl-7{flex:0 0 58.33333%;max-width:58.33333%}.col-xl-8{flex:0 0 66.66667%;max-width:66.66667%}.col-xl-9{flex:0 0 75%;max-width:75%}.col-xl-10{flex:0 0 83.33333%;max-width:83.33333%}.col-xl-11{flex:0 0 91.66667%;max-width:91.66667%}.col-xl-12{flex:0 0 100%;max-width:100%}.order-xl-first{order:-1}.order-xl-last{order:13}.order-xl-0{order:0}.order-xl-1{order:1}.order-xl-2{order:2}.order-xl-3{order:3}.order-xl-4{order:4}.order-xl-5{order:5}.order-xl-6{order:6}.order-xl-7{order:7}.order-xl-8{order:8}.order-xl-9{order:9}.order-xl-10{order:10}.order-xl-11{order:11}.order-xl-12{order:12}.offset-xl-0{margin-left:0}.offset-xl-1{margin-left:8.33333%}.offset-xl-2{margin-left:16.66667%}.offset-xl-3{margin-left:25%}.offset-xl-4{margin-left:33.33333%}.offset-xl-5{margin-left:41.66667%}.offset-xl-6{margin-left:50%}.offset-xl-7{margin-left:58.33333%}.offset-xl-8{margin-left:66.66667%}.offset-xl-9{margin-left:75%}.offset-xl-10{margin-left:83.33333%}.offset-xl-11{margin-left:91.66667%}}
.sa-m0{margin:0!important}.sa-mt-0{margin-top:0!important}.sa-mb-0{margin-bottom:0!important}.sa-ml-0{margin-left:0!important}.sa-mr-0{margin-right:0!important}.sa-p0{padding:0!important}.sa-pt0{padding-top:0!important}.sa-pb-0{padding-bottom:0!important}.sa-pl0{padding-left:0!important}.sa-pr0{padding-right:0!important}.sa-m5{margin:5px!important}.sa-mt-5{margin-top:5px!important}.sa-mb-5{margin-bottom:5px!important}.sa-ml-5{margin-left:5px!important}.sa-mr-5{margin-right:5px!important}.sa-p5{padding:5px!important}.sa-pt5{padding-top:5px!important}.sa-pb-5{padding-bottom:5px!important}.sa-pl5{padding-left:5px!important}.sa-pr5{padding-right:5px!important}.sa-m10{margin:10px!important}.sa-mt-10{margin-top:10px!important}.sa-mb-10{margin-bottom:10px!important}.sa-ml-10{margin-left:10px!important}.sa-mr-10{margin-right:10px!important}.sa-p10{padding:10px!important}.sa-pt10{padding-top:10px!important}.sa-pb-10{padding-bottom:10px!important}.sa-pl10{padding-left:10px!important}.sa-pr10{padding-right:10px!important}.sa-m15{margin:15px!important}.sa-mt-15{margin-top:15px!important}.sa-mb-15{margin-bottom:15px!important}.sa-ml-15{margin-left:15px!important}.sa-mr-15{margin-right:15px!important}.sa-p15{padding:15px!important}.sa-pt15{padding-top:15px!important}.sa-pb-15{padding-bottom:15px!important}.sa-pl15{padding-left:15px!important}.sa-pr15{padding-right:15px!important}.sa-m20{margin:20px!important}.sa-mt-20{margin-top:20px!important}.sa-mb-20{margin-bottom:20px!important}.sa-ml-20{margin-left:20px!important}.sa-mr-20{margin-right:20px!important}.sa-p20{padding:20px!important}.sa-pt20{padding-top:20px!important}.sa-pb-20{padding-bottom:20px!important}.sa-pl20{padding-left:20px!important}.sa-pr20{padding-right:20px!important}.sa-m25{margin:25px!important}.sa-mt-25{margin-top:25px!important}.sa-mb-25{margin-bottom:25px!important}.sa-ml-25{margin-left:25px!important}.sa-mr-25{margin-right:25px!important}.sa-p25{padding:25px!important}.sa-pt25{padding-top:25px!important}.sa-pb-25{padding-bottom:25px!important}.sa-pl25{padding-left:25px!important}.sa-pr25{padding-right:25px!important}.sa-m30{margin:30px!important}.sa-mt-30{margin-top:30px!important}.sa-mb-30{margin-bottom:30px!important}.sa-ml-30{margin-left:30px!important}.sa-mr-30{margin-right:30px!important}.sa-p30{padding:30px!important}.sa-pt30{padding-top:30px!important}.sa-pb-30{padding-bottom:30px!important}.sa-pl30{padding-left:30px!important}.sa-pr30{padding-right:30px!important}.sa-m35{margin:35px!important}.sa-mt-35{margin-top:35px!important}.sa-mb-35{margin-bottom:35px!important}.sa-ml-35{margin-left:35px!important}.sa-mr-35{margin-right:35px!important}.sa-p35{padding:35px!important}.sa-pt35{padding-top:35px!important}.sa-pb-35{padding-bottom:35px!important}.sa-pl35{padding-left:35px!important}.sa-pr35{padding-right:35px!important}.sa-m40{margin:40px!important}.sa-mt-40{margin-top:40px!important}.sa-mb-40{margin-bottom:40px!important}.sa-ml-40{margin-left:40px!important}.sa-mr-40{margin-right:40px!important}.sa-p40{padding:40px!important}.sa-pt40{padding-top:40px!important}.sa-pb-40{padding-bottom:40px!important}.sa-pl40{padding-left:40px!important}.sa-pr40{padding-right:40px!important}.sa-m45{margin:45px!important}.sa-mt-45{margin-top:45px!important}.sa-mb-45{margin-bottom:45px!important}.sa-ml-45{margin-left:45px!important}.sa-mr-45{margin-right:45px!important}.sa-p45{padding:45px!important}.sa-pt45{padding-top:45px!important}.sa-pb-45{padding-bottom:45px!important}.sa-pl45{padding-left:45px!important}.sa-pr45{padding-right:45px!important}.sa-m50{margin:50px!important}.sa-mt-50{margin-top:50px!important}.sa-mb-50{margin-bottom:50px!important}.sa-ml-50{margin-left:50px!important}.sa-mr-50{margin-right:50px!important}.sa-p50{padding:50px!important}.sa-pt50{padding-top:50px!important}.sa-pb-50{padding-bottom:50px!important}.sa-pl50{padding-left:50px!important}.sa-pr50{padding-right:50px!important}.sa-m55{margin:55px!important}.sa-mt-55{margin-top:55px!important}.sa-mb-55{margin-bottom:55px!important}.sa-ml-55{margin-left:55px!important}.sa-mr-55{margin-right:55px!important}.sa-p55{padding:55px!important}.sa-pt55{padding-top:55px!important}.sa-pb-55{padding-bottom:55px!important}.sa-pl55{padding-left:55px!important}.sa-pr55{padding-right:55px!important}.sa-m60{margin:60px!important}.sa-mt-60{margin-top:60px!important}.sa-mb-60{margin-bottom:60px!important}.sa-ml-60{margin-left:60px!important}.sa-mr-60{margin-right:60px!important}.sa-p60{padding:60px!important}.sa-pt60{padding-top:60px!important}.sa-pb-60{padding-bottom:60px!important}.sa-pl60{padding-left:60px!important}.sa-pr60{padding-right:60px!important}
.sa-m2{margin:2px!important}.sa-mt-2{margin-top:2px!important}.sa-mb-2{margin-bottom:2px!important}.sa-ml-2{margin-left:2px!important}.sa-mr-2{margin-right:2px!important}.sa-p2{padding:2px!important}.sa-pt2{padding-top:2px!important}.sa-pb-2{padding-bottom:2px!important}.sa-pl2{padding-left:2px!important}.sa-pr2{padding-right:2px!important}
.sa-p-10mm {padding: 10mm;}.sa-pr-10mm {padding-right: 10mm;}.sa-pl-20mm {padding-left: 20mm;}.sa-plr-20mm10mm {padding-left: 20mm;padding-right: 10mm;}
.sa-mt-3{margin-top:3px!important}.sa-mt-6{margin-top: 6px!important;}
.text-center,.text-c{text-align: center;}.text-left,.text-l{text-align: left;}.text-right,.text-r{text-align: right;}
h1.titleprt{font-weight: bold; font-size: 18px;}
.sa-rpt p{margin-bottom: 5px;}.text-uppercase{text-transform: uppercase!important;}
.d-flex {display: flex!important;}.flex-fill {flex: 1 1 auto!important;}
.flex-fixed-text {white-space: nowrap;}
/*.sa-rpt .d-flex.inline-flex{margin-bottom: 5px;}.sa-rpt .d-flex.inline-flex>.flex-fill{margin-left: 5px;}*/
.sa-rpt .checkbox{
    position: relative;
    display: inline-block;
    width: 18px;
    height: 12px;
}
.sa-rpt .checkbox>span
{
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    margin-top: -2px;
    padding-top: 1px;
}
.sa-rpt .checkbox-sothe-full{display: flex;}
.sa-rpt .checkbox-sothe-full .checkbox{min-width: 18px;margin-left: -1px;}
.sa-rpt .checkbox-sothe-full .checkbox>span{width: 100%;min-width: 18px}
.sa-rpt .checkbox-sothe-full .checkbox:first-child{margin-left: 0px;}
.sa-rpt .checkbox-sothe-full .checkbox.t-1{width: 18px;}
.sa-rpt .checkbox-sothe-full .checkbox.t-2{width: 25px;}
.sa-rpt .checkbox-sothe-full .checkbox.t-3{width: 32px;}
.sa-rpt .checkbox-sothe-full .checkbox.t-5{width: 50px;}
.sa-rpt .checkbox-sothe-full .checkbox.t-10{width: 90px;}

.sa-rpt .checkbox-sothe{display: flex;}
.sa-rpt .checkbox-sothe .checkbox{flex: 1 1 auto!important;width: auto;}
.sa-rpt .checkbox-sothe .checkbox span{width: 100%; min-width: 18px;}
.sa-rpt .checkbox-sothe .checkbox:nth-child(7),.sa-rpt .checkbox-sothe .checkbox:nth-child(7) span,.sa-rpt .checkbox-sothe .checkbox:nth-child(6),.sa-rpt .checkbox-sothe .checkbox:nth-child(6) span{flex:1 1 15px!important}
.sa-rpt table{width: 100%;border:1px solid #000 ;}
.sa-rpt table td,.sa-rpt table th{
    border-left:1px solid #000 ;
    border-bottom:1px solid #000 ;
    padding: 3px;
}
.sa-rpt table { border-spacing: 0px;border-collapse: separate;}
.sa-rpt table tr td:first-child,.sa-rpt table tr th:first-child{border-left:0px none;}
.sa-rpt table tr:last-child td{border-bottom:0px none;}
.font-b{font-weight: bold;}
.font-i{font-style: italic;}
.font-12{font-size: 12px;}
.tr-border-dashed>td
{
    border-bottom:1px dashed #666!important;
}
.table-border-l
{
    border-left:1px solid #000!important;
}
.border {
    border: 1px solid #666 !important;
}
.border-bottom {
    border-bottom: 1px solid #666 !important;
}
.m-1 {
    margin: .25rem!important;
}
.m-2 {
    margin: .5rem!important;
}
.m-3 {
    margin: 1rem!important;
}
.m-4 {
    margin: 1.5rem!important;
}
.m-5 {
    margin: 3rem!important;
}
.p-1 {
    padding: .25rem!important;
}
.p-2 {
    padding: .5rem!important;
}
.p-3 {
    padding: 1rem!important;
}
.p-4 {
    padding: 1.5rem!important;
}
.p-5 {
    padding: 3rem!important;
}
.titlebangke
{
    position: absolute;
    margin-top: -30px;
}
.loaibangke
{
    width: 30px;
    height: 30px;
    padding-top: 7px;
    border: 1px solid #000;
    display: block;
    text-align: center;
    font-weight: bold;
    position: absolute;
    margin-top: -7px;
    left: 75%;
}
.tachtrang{page-break-inside: avoid;display: contents;}
.hoten_phieukham {
    position: relative;
}
.dienthoai_phieukham {
    position: absolute;
    top: 16px;
    left: 350px;
}
.min_h_32 {
    min-height: 32px;
}
.min_h_48 {
    min-height: 48px;
}
.min_h_64 {
    min-height: 64px;
}
.toanthan_phieukham {
    position: relative;
}
.dausinhton_phieukham {
    border: 1px solid #000;
    padding: 5px 10px;
    position: absolute;
    right: 5px;
    top: -30px;
}
.dausinhton_phieukham sup {
    font-size: 75%;
}
.small, small {
    font-size: 80% !important;
    font-weight: 400;
}
.text-pre-wrap {
    white-space: pre-wrap;
}
.font-italic {
    font-style: italic!important;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
/** For screen preview **/
@media screen {
    .sa-rpt .sheet {
        background: white;
        box-shadow: 0 .5mm 2mm rgba(0, 0, 0, .3);
    }
    .sa-rpt  thead {display:table-row-group;}
    .tachtrang{page-break-inside: avoid;}
    @page {
        margin-top: 10mm;
        margin-bottom: 5mm;
    }
}

/** Fix for Chrome issue #273306 **/
@media print {
    .sa-rpt  thead {display:table-row-group;}
    .tachtrang{page-break-inside: avoid;}
    @page {
        margin-top: 10mm;
        margin-bottom: 5mm;
    }
    .sheet{padding-top: 0px; padding-bottom: 10mm;}
    .sa-rpt .A5.landscape .sheet {
        min-height: auto
    }
    
}

/** new css */
pre{
    width: 100%;
    white-space: break-spaces;
}

.d-flex{
    display: flex;
}

.justify-content-between{
    justify-content: between;
}

.tbl-xnt * {
    font-size: 2px;
}


table { page-break-inside:auto }
tr    { page-break-inside:avoid; page-break-after:auto }
thead { display:table-header-group }
tfoot { display:table-footer-group }
body {counter-reset: page_number;}
