<div style="background-color: #2e3539">
    <div class="container-lg mt-3">
        <div class="row" style="border-bottom: solid 2px #40474b; padding: 30px 10px">
            <div class="col text-white">
                <h3>About us</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi perspiciatis delectus sequi quae eaque dolore provident adipisci quam!
                </p>
                <p>
                    A repudiandae magnam quia ab reiciendis iusto veritatis veniam eius molestias vitae facilis id.
                </p>
            </div>
            <div class="col text-white">
                <h3>Contact</h3>
                <p>0123456879</p>
                <p>101 phpBB3 1st Street St. Petersburg, Florida, WA 00000, USA</p>
                <p>noreply@yourdomain.com</p>
            </div>
        </div>
    </div>
</div>