<div class="modal-body">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
    <form novalidate="novalidate" [formGroup]="loginForm">
        <div class="form-group">
            <label for="">Tài khoản <span class="text-danger">*</span></label>
            <input type="email" class="form-control" formControlName="userName" />
        </div>
        <div class="form-group">
            <label for="">Mật khẩu <span class="text-danger">*</span></label>
            <input type="password" class="form-control" formControlName="password" />
        </div>
        <button type="submit" class="btn btn-primary" style="width: 100%;" [disabled]="!loginForm.valid" (click)="login()" btnLoader [loader]="isLoading">
      Đăng nhập
    </button>
    </form>
</div>
<div class="modal-footer justify-content-center">
    <div>Bạn không có tài khoản? <a href="javascript:;" (click)="redirectToRegisterPage()" class="text-primary">Đăng
      ký</a></div>
</div>