<div class="content-loading" *ngIf="isLoading" [ngStyle]="{'position': isAbsolute?'absolute':'fixed'}" >
    <div class="mr-2 text-muted">Đang tải </div>
    <div class="spinner spinner-primary"></div>
</div>