.content-loading {
    display: flex;
    justify-content: center;
    z-index: 9999;
    position: fixed;
    cursor: wait;
    top: 50%;
    left: 50%;
    margin-top: 10px;
    margin-left: -30px;
}
