<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">Danh sách chủ đề</div>
        <div class="card-toolbar"><a href="javascript:;" class="btn btn-primary" (click)="moveToEditTopic()">Thêm
                mới</a></div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <th>Chủ đề</th>
                <th>Danh mục</th>
                <th>Ngày tạo</th>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>